<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Our Services - SkyLane</title>
    <%- include("/_components/head-seo") -%>
    <!--  -->
    <%- include("/_components/styles") -%>
    <link rel="stylesheet" href="/assets/css/all.min.css" />
  </head>

  <body>
    <%- include("/_components/nav") -%>

    <!-- services banner  -->
    <div class="titlebar-wrapper">
      <div class="titlebar-wrapper-header">
        <div class="container">
          <h1 class="text-white">Services</h1>
        </div>
      </div>
    </div>
    <!-- services-->
    <section>
      <div class="container pt-5 pb-5">
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <h4 class="custom-heading">Our Services</h4>
            <h2 class="custom-title">
              What makes us different and
              <br />
              <em class="custom-em">best study abroad agency</em>
            </h2>
          </div>
          <div class="col">
            <p class="custom-paragraph">
              We ensure fast and handsome scholarships abroad from our
              universities and recruitment partners. We develop a career path
              for the students who look for affordable tuition fees, hassle free
              processing and quick communication.
            </p>
          </div>
        </div>

        <!-- services -->
        <div class="row row-cols-1 row-cols-md-4 g-4 pt-5">
          <div class="col">
            <div class="card text-center">
              <h3 class="visa-text mt-4">Consultancy</h3>
              <div class="card-body">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-alarm"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"
                  />
                  <path
                    d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"
                  />
                </svg>
                <p class="card-text mt-4 pb-2">
                  Elevate your career potential with SkyLane's free consultancy
                  from experts you need.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center">
              <h3 class="visa-text mt-4">Documentation</h3>
              <div class="card-body">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-people-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"
                  />
                </svg>
                <p class="card-text mt-4 pb-2">
                  Craft a captivating CV and fine-tune your SOP to stand out
                  from the crowd you need.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center">
              <h3 class="visa-text mt-4">File Assessment</h3>
              <div class="card-body">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-mortarboard-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"
                  />
                  <path
                    d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"
                  />
                </svg>
                <p class="card-text mt-4 pb-2">
                  Assess your files with SkyLane for a seamless and error-free
                  documentation process.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center">
              <h3 class="visa-text mt-4">Application</h3>
              <div class="card-body">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-file-earmark-ppt-fill"
                  viewBox="0 0 16 16"
                >
                  <path d="M8.188 10H7V6.5h1.188a1.75 1.75 0 1 1 0 3.5z" />
                  <path
                    d="M4 0h5.293A1 1 0 0 1 10 .293L13.707 4a1 1 0 0 1 .293.707V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2zm5.5 1.5v2a1 1 0 0 0 1 1h2l-3-3zM7 5.5a1 1 0 0 0-1 1V13a.5.5 0 0 0 1 0v-2h1.188a2.75 2.75 0 0 0 0-5.5H7z"
                  />
                </svg>
                <p class="card-text mt-4 pb-2">
                  Stay hassle free and updated with our tailor-made application
                  systems.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-5 services row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card text-center">
              <h5 class="visa-text mt-4">Mock Interviews</h5>
              <div class="card-body text-center pt-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-airplane-engines-fill"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M8 0c-.787 0-1.292.592-1.572 1.151A4.347 4.347 0 0 0 6 3v3.691l-2 1V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.191l-1.17.585A1.5 1.5 0 0 0 0 10.618V12a.5.5 0 0 0 .582.493l1.631-.272.313.937a.5.5 0 0 0 .948 0l.405-1.214 2.21-.369.375 2.253-1.318 1.318A.5.5 0 0 0 5.5 16h5a.5.5 0 0 0 .354-.854l-1.318-1.318.375-2.253 2.21.369.405 1.214a.5.5 0 0 0 .948 0l.313-.937 1.63.272A.5.5 0 0 0 16 12v-1.382a1.5 1.5 0 0 0-.83-1.342L14 8.691V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v.191l-2-1V3c0-.568-.14-1.271-.428-1.849C9.292.591 8.787 0 8 0Z"
                  />
                </svg>
                <p class="card-text mt-4 pb-2">
                  Get ready to ace your university and embassy interviews with
                  our mock interview sessions.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center">
              <h5 class="visa-text mt-4">Travel Assistance</h5>
              <div class="card-body text-center pt-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-camera-reels"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"
                  />
                  <path
                    d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"
                  />
                  <path
                    d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                  />
                </svg>
                <p class="card-text mt-4 pb-2">
                  Soar through new horizons with SkyLane's unparalleled travel
                  assistance, where.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center">
              <h5 class="visa-text mt-4">Bank Solvency Support</h5>
              <div class="card-body text-center pt-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-camera-reels"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"
                  />
                  <path
                    d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"
                  />
                  <path
                    d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                  />
                </svg>
                <p class="card-text mt-4 pb-2">
                  SkyLane is your trusted ally, providing bank statement support
                  to ensure easy application
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center">
              <h5 class="visa-text mt-4">Visa Assistance</h5>
              <div class="card-body text-center pt-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-camera-reels"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"
                  />
                  <path
                    d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"
                  />
                  <path
                    d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                  />
                </svg>
                <p class="card-text mt-4 pb-2">
                  Open the door to new horizons hassle free as we complete your
                  visa application.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-5 services row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card text-center">
              <h5 class="visa-text mt-4">Medical Test Assistance</h5>
              <div class="card-body text-center pt-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-camera-reels"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"
                  />
                  <path
                    d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"
                  />
                  <path
                    d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                  />
                </svg>
                <p class="card-text mt-4 pb-2">
                  SkyLane's medical test assistance guides you through the
                  health test systems while studying abroad.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center">
              <h5 class="visa-text mt-4">Part-Time Job Support</h5>
              <div class="card-body text-center pt-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-camera-reels"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"
                  />
                  <path
                    d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"
                  />
                  <path
                    d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                  />
                </svg>
                <p class="card-text mt-4 pb-2">
                  Get assistance in finding a part time job to maintain your
                  daily expenses while studying abroad.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center">
              <h5 class="visa-text mt-4">Accommodation Support</h5>
              <div class="card-body text-center pt-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-camera-reels"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"
                  />
                  <path
                    d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"
                  />
                  <path
                    d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                  />
                </svg>
                <p class="card-text mt-4 pb-2">
                  Find your suitable accommodation nearby your university with
                  SkyLane’s support.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center">
              <h5 class="visa-text mt-4">Cultural Adaptation Counselling</h5>
              <div class="card-body text-center pt-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-camera-reels"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"
                  />
                  <path
                    d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"
                  />
                  <path
                    d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                  />
                </svg>
                <p class="card-text mt-4 pb-2">
                  Understand new cultures with confidence through SkyLane's
                  cultural adaptation counselling.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-5 services row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card text-center">
              <h5 class="visa-text mt-4">Online Consultancy</h5>
              <div class="card-body text-center pt-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-camera-reels"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"
                  />
                  <path
                    d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"
                  />
                  <path
                    d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                  />
                </svg>
                <p class="card-text mt-4 pb-2">
                  Connect with experts from the comfort of your own space
                  completely free of charge.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center">
              <h5 class="visa-text mt-4">Quick Response</h5>
              <div class="card-body text-center pt-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-camera-reels"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"
                  />
                  <path
                    d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"
                  />
                  <path
                    d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                  />
                </svg>
                <p class="card-text mt-4 pb-2">
                  Get swift answers and unwavering support with SkyLane's quick
                  response you need.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center">
              <h5 class="visa-text mt-4">File Condition Report</h5>
              <div class="card-body text-center pt-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-camera-reels"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"
                  />
                  <path
                    d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"
                  />
                  <path
                    d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                  />
                </svg>
                <p class="card-text mt-4 pb-2">
                  Navigate your file system with the help of SkyLane’s
                  captivating File Condition Report service.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center">
              <h5 class="visa-text mt-4">Scholarship Support</h5>
              <div class="card-body text-center pt-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-camera-reels"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"
                  />
                  <path
                    d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"
                  />
                  <path
                    d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                  />
                </svg>
                <p class="card-text mt-4 pb-2">
                  Unleash your potential with SkyLane's free Scholarship
                  Support, paving the way you need.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-5 pb-5 services row-cols-1 row-cols-md-4 g-4">
          <div class="col">
            <div class="card text-center">
              <h5 class="visa-text mt-4">Financial Consultancy</h5>
              <div class="card-body text-center pt-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-camera-reels"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"
                  />
                  <path
                    d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"
                  />
                  <path
                    d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                  />
                </svg>
                <p class="card-text mt-4 pb-2">
                  Navigate the financial maze with SkyLane's expert Financial
                  Consultancy, unlocking.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center">
              <h5 class="visa-text mt-4">Dedicated Consultants</h5>
              <div class="card-body text-center pt-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-camera-reels"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"
                  />
                  <path
                    d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"
                  />
                  <path
                    d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                  />
                </svg>
                <p class="card-text mt-4 pb-2">
                  Our Dedicated Consultants stand by your side, offering
                  personalized guidance and unwavering support.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center">
              <h5 class="visa-text mt-4">Study Guidance</h5>
              <div class="card-body text-center pt-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-camera-reels"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"
                  />
                  <path
                    d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"
                  />
                  <path
                    d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                  />
                </svg>
                <p class="card-text mt-4 pb-2">
                  Let SkyLane's Study Guidance be your compass, leading you to
                  success with tailored.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card text-center">
              <h5 class="visa-text mt-4">Account maintenance</h5>
              <div class="card-body text-center pt-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="56"
                  height="56"
                  fill="currentColor"
                  class="bi bi-camera-reels"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M6 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0zM1 3a2 2 0 1 0 4 0 2 2 0 0 0-4 0z"
                  />
                  <path
                    d="M9 6h.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 7.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 16H2a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h7zm6 8.73V7.27l-3.5 1.555v4.35l3.5 1.556zM1 8v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V8a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z"
                  />
                  <path
                    d="M9 6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM7 3a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                  />
                </svg>
                <p class="card-text mt-4 pb-2">
                  Stay up to date about your application stages with SkyLane’s
                  account maintenance systems.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer  -->
    <%- include('/_components/footer') %> <%- include("/_components/scripts")
    -%>
  </body>
</html>
