<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Scholarship Offers - SkyLane</title>
  <%- include("/_components/head-seo") -%>
  <!--  -->
  <%- include("/_components/styles") -%>
  <link rel="stylesheet" href="/assets/css/study.css" />
</head>

<body>
  <%- include("/_components/nav") -%>

  <!-- scholarship banner  -->
  <div class="titlebar-wrapper" style="
        background-image: linear-gradient(
            rgb(2, 115, 154, 0.6),
            rgb(86, 198, 208, 0.5)
          ),
          url('/<%= db.scholarship_banner.imgSrc %>');
      ">
    <div class="titlebar-wrapper-header">
      <div class="container">
        <h1 class="text-white text-center black-italic"><%= db.scholarship_banner.bannerTitle %></h1>
      </div>
    </div>
  </div>

  <!-- scholarship-->
  <section class="scholarship">
    <div class="container scholarship-content pt-5 pb-5">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <h4 class="custom-heading"><%= db.scholarship_content.title %></h4>
          <h2 class="custom-title">
            Study With Scholarship At
            <br />
            <em class="custom-em">Your Desired University</em>
          </h2>
        </div>
        <div class="col">
          <p class="custom-paragraph text-dark">
            <%= db.scholarship_content.text %>
          </p>
        </div>
      </div>
    </div>


    <div id="scholarTab" class="d-none d-md-block container mt-md-5 pt-md-5 mb-5">
      <div class="row">
        <div class="col-md-3 col-12 d-none d-md-block">
          <div class="list-group" id="list-tab" role="tablist">
            <% const groupedCountries = db.countries_scholarshipdetails.reduce((groups, country) => {
                    const key = country.countries_detailId_;
                    if (!groups[key]) {
                        groups[key] = [];
                    }
                    groups[key].push(country);
                    return groups;
                }, {});
    
                Object.keys(groupedCountries).forEach((key, index) => { %>
            <% const countryName = db.countries_details.find(country => country.id === parseInt(key)).name; %>
            <a class="list-group-item list-group-item-action p-3 <%= index === 0 ? 'active' : '' %>" id="list-<%= key %>-list" data-bs-toggle="list" href="#country<%= key %>" role="tab" aria-controls="country<%= key %>" aria-selected="<%= index === 0 ? 'true' : 'false' %>">
              <span><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16" width="26" height="26">
                  <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"></path>
                  <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"></path>
                </svg></span>
              <%= countryName %>
            </a>
            <% }) %>
          </div>
        </div>
        <div class="col-md-9 col-12 d-none d-md-block">
          <div class="tab-content" id="nav-tabContent">
            <% Object.keys(groupedCountries).forEach((key, index) => { %>
            <% const countryName = db.countries_details.find(country => country.id === parseInt(key)).name; %>
            <div class="tab-pane fade <%= index === 0 ? 'show active' : '' %>" id="country<%= key %>" role="tabpanel" aria-labelledby="list-<%= key %>-list">
              <% groupedCountries[key].forEach(country => { %>
              <div class="row" style="margin-bottom: 50px; border-bottom: 2px dotted #efefef">
                <div class="col-md-8">
                  <%- country.content.replaceAll('<p>','<p class="custom-para">').replaceAll('<strong>','<strong style="color: #02739a">').replaceAll('<li>','<li class="list-unstyled custom-para">').replaceAll('<li class="list-unstyled custom-para">', '<li class="list-unstyled custom-para"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16"><path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"></path></svg></span>')   %>
                </div>
                <div class="col-md-3">
                  <div class="scholarship-img" style="border: 5px solid #efefef">
                    <img src="/<%= country.imgSrc %>" alt="<%= countryName %> logo" class="img-fluid" />
                  </div>
                </div>
              </div>
              <% }) %>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
    </div>


    <div id="accordionPanelsStayOpen" class="accordion container d-block d-md-none mb-5">
      <% Object.keys(groupedCountries).forEach((countryId, index) => { %>
      <% const countryName = db.countries_details.find(country => country.id === parseInt(countryId)).name; %>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button <%= index === 0 ? "" :"collapsed" %>" type="button" data-bs-toggle="collapse" data-bs-target="#accordionPanel<%= countryId %>" aria-expanded="false" aria-controls="accordionPanel<%= countryId %>">
            <span class="pe-3">
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16" width="26" height="26">
                <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"></path>
                <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"></path>
              </svg>
            </span>
            <%= countryName %>
          </button>
        </h2>
        <div id="accordionPanel<%= countryId %>" class="accordion-collapse collapse <%= index === 0 ? 'show' : '' %>" aria-labelledby="heading<%= countryId %>" data-bs-parent="#accordionPanelsStayOpen">
          <div class="accordion-body">
            <% groupedCountries[countryId].forEach(scholarship => { %>
            <div class="row" style="margin-bottom: 50px; border-bottom: 2px dotted #efefef">
              <div class="col-md-8">
                <%- scholarship.content.replaceAll('<p>','<p class="custom-para">').replaceAll('<strong>','<strong style="color: #02739a">').replaceAll('<li>','<li class="list-unstyled custom-para">').replaceAll('<li class="list-unstyled custom-para">', '<li class="list-unstyled custom-para"><span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16"><path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"></path></svg></span>')   %>
              </div>
              <div class="col-md-3">
                <div class="scholarship-img" style="border: 5px solid #efefef">
                  <img src="/<%= scholarship.imgSrc %>" alt="<%= countryName %> logo" class="img-fluid" />
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
      </div>
      <% }) %>
    </div>

  </section>

  <%- include('/_components/footer') %> <%- include("/_components/scripts")
    -%>
</body>

</html>