<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Study in Europe - Skylane</title>
    <%- include("/_components/head-seo") -%>
    <!--  -->
    <%- include("/_components/styles") -%>
    <link rel="stylesheet" href="/assets/css/slick.min.css" />
    <link rel="stylesheet" href="/assets/css/slick-theme.min.css" />
    <link rel="stylesheet" href="/assets/css/study.css" />
  </head>

  <body>
    <%- include("/_components/nav") -%>

    <!-- study in uk banner  -->
    <div
      class="themestek-titlebar-wrapper themestek-bg themestek-bgcolor-transparent themestek-titlebar-align-allleft themestek-textcolor-white themestek-bgimage-yes"
    >
      <div class="themestek-titlebar-wrapper-bg-layer themestek-bg-layer"></div>
      <div class="themestek-titlebar entry-header">
        <div class="themestek-titlebar-inner-wrapper">
          <div class="themestek-titlebar-main">
            <div class="container">
              <div class="themestek-titlebar-main-inner">
                <div class="entry-title-wrapper">
                  <div class="container">
                    <h1 class="entry-title text-white">Study in Europe</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .themestek-titlebar-main -->
        </div>
        <!-- .themestek-titlebar-inner-wrapper -->
      </div>
      <!-- .themestek-titlebar -->
    </div>
    <!-- what do we do -->
    <section class="pt-5 pb-5">
      <div class="container pt-5 pb-5">
        <div class="row">
          <div class="col-md-4">
            <h2 class="custom-title pb-5">
              Study In
              <em class="custom-em">Europe</em>
            </h2>
          </div>
          <div class="col-md-8">
            <p class="custom-para">
              Thinking about studying in Europe from Bangladesh and you need
              help in selecting a program, the right university? Skylane can
              help you! Process your application through more.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-12">
            <%- include('/_components/study-abroad/country-list-group') %>

            <!-- at a glance  -->
            <div class="pt-5 pb-5">
              <div style="background-color: #02739a !important" class="p-4">
                <h3 class="text-white fw-blod text-center">
                  Europe - at a Glance
                </h3>
              </div>
              <div class="pe-4 ps-4" style="background: #f5f8fb !important">
                <p class="custom-para pt-3">
                  There are lot of benefits of studying in Europe.
                </p>
                <ul class="list pb-5">
                  <li class="list-group-item border-0 custom-para">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                        />
                      </svg>
                    </span>
                    Researched Based Education
                  </li>
                  <li class="list-group-item border-0 custom-para">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                        />
                      </svg>
                    </span>
                    Easy Visa Procedures
                  </li>
                  <li class="list-group-item border-0 custom-para">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                        />
                      </svg>
                    </span>
                    Tuition Fees varies
                  </li>
                  <li class="list-group-item border-0 custom-para">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                        />
                      </svg>
                    </span>
                    On Campus Part Time Work Permit
                  </li>
                  <li class="list-group-item border-0 custom-para">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                        /></svg
                    ></span>
                    Post Study Work (OPT/CPT)
                  </li>
                  <li class="list-group-item border-0 custom-para">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                        /></svg
                    ></span>
                    World Best Country to Study and Live
                  </li>
                </ul>
              </div>
            </div>
            <!-- form  -->
            <div class="pe-4 ps-4 pb-5">
              <h4 class="custom-heading">Book An Appointment</h4>
              <p class="custom-para">
                Book an appointment with one of our expert consultants!
              </p>
              <div class="row">
                <div class="col-md-12">
                  <div class="input-group input-button">
                    <p>
                      <span class="wpcf7-form-control-wrap" data-name="message">
                        <textarea
                          cols="200"
                          rows="4"
                          class="wpcf7-form-control wpcf7-textarea"
                          aria-invalid="false"
                          placeholder="Message"
                          name="message"
                        ></textarea>
                      </span>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="input-group">
                    <p>
                      <span
                        class="wpcf7-form-control-wrap"
                        data-name="your-name"
                        ><input
                          size="100"
                          class="wpcf7-form-control wpcf7-text"
                          aria-invalid="false"
                          placeholder="Name"
                          value=""
                          type="text"
                          name="your-name"
                      /></span>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="input-group">
                    <p>
                      <span
                        class="wpcf7-form-control-wrap"
                        data-name="your-email"
                        ><input
                          size="100"
                          class="wpcf7-form-control wpcf7-text"
                          aria-invalid="false"
                          placeholder="Email"
                          value=""
                          type="text"
                          name="your-email"
                      /></span>
                    </p>
                  </div>
                </div>
                <div class="col-12 mt-3">
                  <a type="submit" class="btn-about">Submit query</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-12">
            <div class="tab-content" id="nav-tabContent">
              <div
                class="tab-pane fade show active"
                id="list-home"
                role="tabpanel"
                aria-labelledby="list-home-list"
              >
                <img
                  src="/assets/images/country-09.jpg"
                  alt="study in europe"
                  class="img-fluid"
                />
                <div class="accordion pt-3" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne"
                        aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne"
                      >
                        Why Study in Europe ?
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseOne"
                      class="accordion-collapse collapse show"
                    >
                      <div class="accordion-body pe-md-5 ps-md-5">
                        <p class="custom-para">
                          Malaysia is an increasingly popular place to get
                          tertiary education with more than 40,000 international
                          students from over 100 countries studying in Malaysia.
                          It is the center of academic and higher education
                          excellence in the region.
                        </p>

                        <p class="fw-bold custom-para" style="color: #02739a">
                          Quality Education Programs
                        </p>
                        <p class="custom-para">
                          The quality of education in Malaysia is strongly
                          monitored by the Malaysian Government. Institutions in
                          Malaysia provide professional, career-focused
                          education offering courses that are up-to-date and
                          market relevant. International students can also get
                          an accredited degree from many choices of
                          world-renowned universities from UK, USA, Australia,
                          Canada and New Zealand through their twinning programs
                          or branch campuses in Malaysia.
                        </p>

                        <p class="custom-para fw-bold" style="color: #02739a">
                          Low Cost Living and Tuition Fees
                        </p>
                        <p class="custom-para">
                          Tuition fees of accredited and high quality programmes
                          in Malaysia are very reasonable and highly affordable.
                          The cost of living is also very low. A student can get
                          by living comfortably for about RM10,000 a year
                          (USD3,300). Furthermore the ringgit value is low
                          compared to other currency and this gives students
                          enormous savings while studying in Malaysia
                        </p>

                        <p class="fw-bold custom-para" style="color: #02739a">
                          Courses are Conducted in English
                        </p>
                        <p class="custom-para">
                          International students should not have any problems
                          studying in Malaysia as English is the primary medium
                          of Instruction for all courses and study programs
                          conducted at the private higher educational
                          institutions. For those less proficient in the
                          language, there are numerous schools and institutions
                          offering basic English courses.
                        </p>
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Multicultural Studying Environment
                        </p>
                        <p class="custom-para">
                          International students studying in Malaysia will get
                          to experience of living in a plural and multicultural
                          society. The ethnic diversities of Malaysia expose
                          students to a value-added life, global outlook and
                          better understanding of different cultures, ethnic
                          groups and traditions throughout the world. There are
                          three major races in Malaysia namely the Malays,
                          Chinese and Indians together with other ethnic
                          minorities. Apart from mixing with Malaysian students,
                          international students are also exposed to other
                          students from different nationalities.
                        </p>
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Opportunities to work after graduation
                        </p>
                        <p class="custom-para">
                          Once you have spent your time and money in acquiring
                          education in any country, it seems only justified for
                          you to wish to work in that environment for some time
                          before heading back to your country or going elsewhere
                          to chase your dreams. The recent changes in government
                          policy make it easier for international students to
                          work in Australia once they complete their education
                          (conditions apply) and hence they can add value to
                          their résumés not only through international education
                          but also through international work experience.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo"
                      >
                        Documents required
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseTwo"
                      class="accordion-collapse collapse"
                    >
                      <div class="accordion-body pe-md-5 ps-md-5">
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Documents required for University Application:
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Scan copy of your passport
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Scan copies (original) of all educational Certificates
                          & Marksheets
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Scan copies (original) of Two Academic Reference
                          Letter (For PG)
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Statement of Purpose
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Scan copy (original) of UKVI/Academic IELTS
                          Certificate
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Job experience letter (if required)
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Other supporting documents (if available, e.g
                          extracurricular activities)
                        </p>

                        <p class="fw-bold custom-para" style="color: #02739a">
                          Documents required for Tier 4 Visa Application:
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          A valid Passport
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          A completed Online Visa Application Form
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Appropriate Visa Application Fee
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Immigration Health Surcharge (IHS)
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Confirmation of Acceptance for Studies (CAS) Letter
                          from your sponsor (University)
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Medical Test - IOM
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Bank Statement and Bank Solvency Certificate (from
                          Listed Bank only)
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          All educational Certificates and Marksheets (Original)
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          IELTS/TOEFL Certificate
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Job experience letter (if required)
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Other supporting documents (if available, e.g
                          extracurricular activities)
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree"
                      >
                        Application procedure
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseThree"
                      class="accordion-collapse collapse"
                    >
                      <div class="accordion-body pe-md-5 ps-md-5">
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Intakes
                        </p>
                        <p class="custom-para">
                          The main intake offered by all Universities is
                          September / October few universities offer Jan / Feb
                          intake also.
                        </p>
                        <p class="fw-bold custom-para" style="color: #02739a">
                          English Language Requirements
                        </p>
                        <p class="custom-para">
                          UKVI IELTS is mandatory for Foundation programs.
                          UKVI/Academic IELTS score of 5.5 to 6.5 is required
                          for Undergraduate programs. For Postgraduate programs
                          UKVI or Academic IELTS score of 6.0 to 6.5 is
                          required.
                        </p>
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Academic Requirement
                        </p>
                        <p class="fw-bold custom-para">
                          Undergraduate – Bachelors
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          GPA 4.75 to 5.0 in HSC / Min 2C in A Level to 3A* in A
                          Level
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Few Universities require Math course in 12th Grade for
                          Business and Science programs
                        </p>
                        <p class="fw-bold custom-para">
                          Postgraduate – Masters
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          CGPA 2.50+
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          GRE or GMAT is not required for Business, Science and
                          Engineering programs
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          For MBA programs at some Universities students need to
                          have work experience along with GMAT Score
                        </p>
                        <p class="custom-para">
                          Each institution sets its own entry requirements, and
                          you will find that they vary between universities.
                          Your application will normally be assessed on your
                          current level of qualification.
                        </p>
                        <p class="custom-para">
                          To make sure you meet all the admissions criteria for
                          the course(s) you wish to apply for, contact the
                          International Office at the institution(s) you are
                          applying to and check
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour"
                      >
                        Visa procedure and fees
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseFour"
                      class="accordion-collapse collapse"
                    >
                      <div class="accordion-body pe-md-5 ps-md-5">
                        <p class="fw-bold custom-para">
                          Points required to obtain Tier 4 General Student Visa:
                        </p>
                        <p class="custom-para">
                          To successfully apply for a Tier 4 General visa, you
                          must have to score 40 out of 40 points.
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Confirmation of Acceptance for Studies (CAS) Letter –
                          30 Points.
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Maintenance (Funds) – 10 points
                        </p>
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Funds to be shown:
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          If you wish to study within London borough – First
                          year tuition + £12,006
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Outside London borough – First year tuition + £9,207
                        </p>
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Visa Application Fees
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Tier 4 (General) or Tier 4 (Child) - £348
                        </p>
                        <p class="fw-bold custom-para">
                          Living Expenses:
                          <span class="custom-para">
                            Estimated at £500 - £1000 (per month).
                          </span>
                        </p>
                        <p class="fw-bold custom-para">
                          Acceptable Funds:
                          <span class="custom-para">
                            Bank balance in Savings Account, FDR Account (listed
                            Bank only).</span
                          >
                        </p>

                        <p class="fw-bold custom-para" style="color: #02739a">
                          Visa processing times for Bangladesh
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          7 Working Days (Premium) to 20 Working Days (Normal)
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFive"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFive"
                      >
                        Scholarship details
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseFive"
                      class="accordion-collapse collapse"
                    >
                      <div class="accordion-body pe-md-5 ps-md-5">
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Visa processing times for Bangladesh
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          7 Working Days (Premium) to 20 Working Days (Normal)
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseSix"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseSix"
                      >
                        Frequently Asked Questions
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseSix"
                      class="accordion-collapse collapse"
                    >
                      <div class="accordion-body pe-md-5 ps-md-5">
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Visa processing times for Bangladesh
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          7 Working Days (Premium) to 20 Working Days (Normal)
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- university logo  -->
    <section id="partners">
      <div class="container logo-content pt-5">
        <h4 class="custom-heading">OUR PARTNERS</h4>
        <h2 class="custom-title">
          Affiliated Groups &
          <em class="custom-em">Universities</em>
        </h2>

        <div class="align-items-center text-center pt-5 pb-5 univ row">
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-25"
                src="/assets/images/home/gbs-logo.png"
                alt="gbs logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/home/wrexham-university-logo.png"
                alt="wrexham university logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/home/arden-online-logo.png"
                alt="arden online logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/home/study-group.png"
                alt="study group"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/wright-logo.png"
                alt="wright logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/kent-logo.png"
                alt="kent logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/tarleton-logo.png"
                alt="tarleton logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/manitoba-logo.png"
                alt="manitoba logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/waterloo-logo.png"
                alt="waterloo logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/torontomet-logo.png"
                alt="torontomet logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/saskatchewan-logo.png"
                alt="saskatchewan logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/winnipeg-logo.png"
                alt="rwinnipeg logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/upei-logo.png"
                alt="upei logo"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer  -->
    <%- include('/_components/footer') %>

    <%- include("/_components/scripts") -%>
    <script type="text/javascript" src="/assets/js/slick.min.js"></script>
  </body>
</html>
