<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Blog - SkyLane</title>
    <%- include("/_components/head-seo") -%>
    <!--  -->
    <%- include("/_components/styles") -%>
  </head>

  <body>
    <%- include("/_components/nav") -%>

    <!-- blog-banner  -->
    <div
      class="titlebar-wrapper"
      style="
        background-image: linear-gradient(
            rgb(2, 115, 154, 0.6),
            rgb(86, 198, 208, 0.5)
          ),
          url('/assets/images/blog-banner.jpg');
      "
    >
      <div class="titlebar-wrapper-header">
        <div class="container">
          <h1 class="text-white text-center black-italic">Blog</h1>
        </div>
      </div>
    </div>

    <!-- blog  -->
    <section id="blog">
      <div class="container blog-content">
        <div class="row row-cols-1 row-cols-md-2 g-4 custom">
          <div class="col">
            <h4 class="custom-heading">BLOG</h4>
            <h2 class="custom-title">
              Check out our latest
              <br />
              <em class="custom-em">Articles & Blogs</em>
            </h2>
          </div>
          <div class="col">
            <p class="custom-paragraph">
              Check out the latest articles and blogs published by SkyLane Education. Our blogs contain thoughtful analysis of the market, scholarships while studying abroad, living cost while studying abroad etc.
            </p>
          </div>
        </div>
        <div
          class="row row-cols-1 row-cols-md-3 g-4 pt-5"
          style="margin-bottom: 80px"
        >
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0">
              <div class="d-flex justify-content-center">
                <img
                  src="/assets/images/home/blog-01.jpg"
                  class="card-img-top"
                  alt="blog 01"
                />
              </div>
              <div class="blog-details-content">
                <div class="card-body">
                  <ul class="d-flex a justify-content-aroud">
                    <li>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-person-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                        />
                      </svg>
                    </li>
                    <li class="ps-2">By Meherin Tabassum</li>
                    <li class="ps-2">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-calendar3"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"
                        />
                        <path
                          d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
                        />
                      </svg>
                    </li>
                    <li class="ps-2">Dec 24, 2022</li>
                  </ul>
                  <h5>
                    <a
                      href="/blog/blog-01/"
                      class="text-decoration-none blog-title"
                    >
                      Exploring the Educational Advantages of Malta
                    </a>
                  </h5>
                  <p class="card-text custom-para">
                    Visa Consulting & Coaching Training provide with a great
                    place to Service, whether you are there to burn off some
                    calories or are.
                  </p>
                </div>
                <div class="card-footer border-0 bg-white mb-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-arrow-right read-more-text"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                    />
                  </svg>
                  <a
                    href="/blog/blog-01/"
                    class="text-decoration-none read-more-text"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0">
              <div class="d-flex justify-content-center">
                <img
                  src="/assets/images/home/blog-02.jpg"
                  class="card-img-top"
                  alt="blog 02"
                />
              </div>
              <div class="blog-details-content">
                <div class="card-body">
                  <ul class="d-flex a justify-content-aroud">
                    <li>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-person-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                        />
                      </svg>
                    </li>
                    <li class="ps-2">By Sonet Islam</li>
                    <li class="ps-2">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-calendar3"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"
                        />
                        <path
                          d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
                        />
                      </svg>
                    </li>
                    <li class="ps-2">June 13, 2023</li>
                  </ul>
                  <h5>
                    <a
                      href="/blog/blog-02/"
                      class="text-decoration-none blog-title"
                    >
                      Unveiling a Mediterranean Study Gem: Explore Malta
                    </a>
                  </h5>
                  <p class="card-text custom-para">
                    Visa Consulting & Coaching Training provide with a great
                    place to Service, whether you are there to burn off some
                    calories or are.
                  </p>
                </div>
                <div class="card-footer border-0 bg-white mb-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-arrow-right read-more-text"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                    />
                  </svg>
                  <a
                    href="/blog/blog-02/"
                    class="text-decoration-none read-more-text"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0">
              <div class="d-flex justify-content-center">
                <img
                  src="/assets/images/home/blog-03.jpg"
                  class="card-img img-fluid"
                  alt="blog 03"
                />
              </div>
              <div class="blog-details-content">
                <div class="card-body">
                  <ul class="d-flex a justify-content-aroud">
                    <li>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-person-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"
                        />
                      </svg>
                    </li>
                    <li class="ps-2">By Sonet Islam</li>
                    <li class="ps-2">
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-calendar3"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"
                        />
                        <path
                          d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
                        />
                      </svg>
                    </li>
                    <li class="ps-2">July 13, 2023</li>
                  </ul>
                  <h5>
                    <a
                      href="/blog/blog-03/"
                      class="text-decoration-none blog-title"
                    >
                      Seize Global Opportunities: Study at Dubai, UAE
                    </a>
                  </h5>
                  <p class="card-text custom-para">
                    Visa Consulting & Coaching Training provide with a great
                    place to Service, whether you are there to burn off some
                    calories or are.
                  </p>
                </div>
                <div class="card-footer border-0 bg-white mb-2">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-arrow-right read-more-text"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                    />
                  </svg>
                  <a
                    href="/blog/blog-03/"
                    class="text-decoration-none read-more-text"
                    >Read More</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer  -->
    <%- include('/_components/footer') %> <%- include("/_components/scripts")
    -%>
  </body>
</html>
