<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Study in UK - SkyLane</title>
    <%- include("/_components/head-seo") -%>
    <!--  -->
    <%- include("/_components/styles") -%>
    <link rel="stylesheet" href="/assets/css/slick.min.css" />
    <link rel="stylesheet" href="/assets/css/slick-theme.min.css" />
    <link rel="stylesheet" href="/assets/css/study.css" />
  </head>

  <body>
    <%- include("/_components/nav") -%>

    <!-- study in uk banner  -->
    <div
      class="titlebar-wrapper"
      style="
        background-image: linear-gradient(
            rgb(2, 115, 154, 0.6),
            rgb(86, 198, 208, 0.5)
          ),
          url('/assets/images/country-banner/uk ribbon-min.jpg');
      "
    >
      <div class="titlebar-wrapper-header">
        <div class="container">
          <h1 class="text-white text-center fst-italic">Study in United Kingdom</h1>
        </div>
      </div>
    </div>

    <!-- what do we do -->
    <section class="pt-5 pb-5" id="uk">
      <div class="container pt-5 pb-5">
        <div class="row">
          <div class="col-md-4">
            <h2 class="custom-title pb-5">
              Study In
              <em class="custom-em">UK</em>
            </h2>
          </div>
          <div class="col-md-8">
            <p class="custom-para">
              Want to study in UK from Bangladesh with scholarship, with or
              without IELTS at top universities? Skylane Education is here to
              facilitate your goals of attending university by providing you
              with first-rate direction and unrivaled assistance through the
              British Council Trained Agent Consultants.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-12">
            <%- include('/_components/study-abroad/country-list-group') %>

            <!-- at a glance  -->
            <div class="pt-5 pb-5">
              <div style="background-color: #02739a !important" class="p-4">
                <h3 class="text-white fw-blod text-center">UK - at a Glance</h3>
              </div>
              <div class="pe-4 ps-4" style="background: #f5f8fb !important">
                <p class="custom-para pt-3">
                  There are lot of benefits of studying in USA.
                </p>
                <ul class="list pb-5">
                  <li class="list-group-item border-0 custom-para">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                        />
                      </svg>
                    </span>
                    Pioneer of International Education 
                  </li>
                  <li class="list-group-item border-0 custom-para">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                        />
                      </svg>
                    </span>
                    World of Academic Eminence 
                  </li>
                  <li class="list-group-item border-0 custom-para">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                        />
                      </svg>
                    </span>
                    Economic Efficiency 
                  </li>
                  <li class="list-group-item border-0 custom-para">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                        />
                      </svg>
                    </span>
                    Enhance English language Proficiency 
                  </li>
                  <li class="list-group-item border-0 custom-para">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                        /></svg
                    ></span>
                    Cultural Diversity 
                  </li>                  
                </ul>
              </div>
            </div>
            <!-- form  -->
            <%- include("/_components/study-abroad/form.ejs") %>
          </div>
          <div class="col-md-8 col-12">
            <div class="tab-content" id="nav-tabContent">
              <div
                class="tab-pane fade show active"
                id="list-home"
                role="tabpanel"
                aria-labelledby="list-home-list"
              >
                <img
                  src="/assets/images/country-04.jpg"
                  alt="study in united kingdom"
                  class="img-fluid"
                />
                <div class="accordion pt-3" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne"
                        aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne"
                      >
                        Why Study in UK ?
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseOne"
                      class="accordion-collapse collapse show"
                    >
                      <div class="accordion-body pe-md-5 ps-md-5">
                        <p class="custom-para">
                          A major benefit of studying in the United Kingdom is
                          exposure to new experiences and a culturally diverse
                          environment. It is the center of a wide variety of
                          cultural backgrounds, ground-breaking research, and
                          fascinating sights. It includes an extensive range of
                          opportunities to broaden your horizons both
                          academically and personally.
                        </p>
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Pioneer of International Education
                        </p>
                        <p class="custom-para">
                          As reported by QS World University Rankings (2012),
                          the United Kingdom is home to four of the world's top
                          six universities. By studying here, you can unleash
                          your potential, expand your horizons, and make
                          lifelong memories in a land where knowledge knows no
                          bounds. It has an impeccable reputation for providing
                          education on par with the best in the world.
                        </p>

                        <p class="custom-para fw-bold" style="color: #02739a">
                          World of Academic Eminence
                        </p>
                        <p class="custom-para">
                          A degree from a British university not only guarantees
                          a high level of respect around the world but also
                          provides access to a wide variety of intriguing
                          professional paths. Those who earn degrees in the
                          United Kingdom are highly sought after by employers
                          because of the extensive education and rigorous
                          training they receive. Its status as a shining example
                          of academic achievement has been solidified by its
                          well-earned reputation for top-notch research and
                          teaching.
                        </p>

                        <p class="fw-bold custom-para" style="color: #02739a">
                          Economic Efficiency
                        </p>
                        <p class="custom-para">
                          Undergraduate education in the United Kingdom is an
                          excellent investment that will provide you with
                          invaluable skills and experiences. Costs associated
                          with higher education can be kept to a minimum by
                          enrolling in a shorter undergraduate or graduate
                          program in the United Kingdom. It usually takes three
                          years to finish an undergraduate degree, though in
                          Scotland it's more like four. Masters-level
                          postgraduate study often takes only one year to
                          complete, while Ph.D. programs take three to four. In
                          addition, as an international student, you have the
                          option of juggling employment and school. You may work
                          up to 20 hours per week during the academic year if
                          you're a graduate student or doctoral candidate, with
                          no restrictions during breaks. In addition to
                          providing financial aid for your education, this can
                          also provide you with useful work experience.
                        </p>
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Enhance English language Proficiency
                        </p>
                        <p class="custom-para">
                          One can improve their command of the English language
                          and their ability to communicate in it by studying and
                          living in the United Kingdom. Additionally,
                          Conversations with native speakers will help to
                          develop a more authentic understanding of the
                          language. Therefore, Get as much as utilization of the
                          language resources through consistent practice, active
                          engagement, and a positive mindset.
                        </p>
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Cultural Diversity
                        </p>
                        <p class="custom-para">
                          The United Kingdom is an ethnically diverse and
                          multicultural country that has traditionally welcomed
                          people from all over the world. One may broaden
                          horizons and expand social circles by moving to the UK
                          and interacting with individuals from all walks of
                          life. Since the United Kingdom is a preferred
                          study-abroad location among individuals from all over
                          the world, one may anticipate making international
                          acquaintances while there.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo"
                      >
                        Documents Requirement
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseTwo"
                      class="accordion-collapse collapse"
                    >
                      <div class="accordion-body pe-md-5 ps-md-5">
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Documents required for University Application:
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Passport
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Updated CV. Contact us to get your CV created for
                          free.
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Scan copies (original) of all educational Transcripts
                          and Certificates.
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Scan copies (original) of Two Academic Reference
                          Letters of last education.
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Statement of Purpose (SOP). Contact us to get your
                          free SOP.
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Scan copy (original) of English Proficiency
                          certificate (IELTS/ OIETC/ DUOLINGO /MOI).
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Work experience letter/ Medical Documents (If required
                          / Study Gap Explanation).
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Other supporting documents (If available, e.g.
                          Extracurricular Activities).
                        </p>
                        <p class="custom-para">
                          Please note that when preparing your application, it's
                          essential to follow the specific instructions provided
                          by the university you are applying to. The document
                          requirements may vary between institutions and
                          programs.
                        </p>

                        <p class="fw-bold custom-para" style="color: #02739a">
                          Documents required for Tier 4 Visa Application:
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          A valid Passport (Must have a validity of a minimum of
                          6 months from the course date)
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          A completed Online Visa Application Form
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Appropriate Visa Application Fee
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Immigration Health Surcharge (IHS)
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Confirmation of Acceptance for Studies (CAS) Letter
                          from your sponsor (University)
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Medical Test - IOM
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Bank Statement and Bank Solvency Certificate (from
                          Listed Bank only)
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          All educational Certificates and Marksheets (Original)
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          IELTS Certificate/ MOI/ any other equivalent language
                          test certificate
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Job experience letter (if required)
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Other supporting documents (if available, e.g
                          extracurricular activities)
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree"
                      >
                        Application Details and Requirements
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseThree"
                      class="accordion-collapse collapse"
                    >
                      <div class="accordion-body pe-md-5 ps-md-5">
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Intakes
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          January- February
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          May-June
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          September-October
                        </p>
                        However, the bulk of the enrolment would begin in
                        September. The main intake offered by all Universities
                        is September / October few universities offer Jan / Feb
                        intake also.

                        <p class="fw-bold custom-para" style="color: #02739a">
                          English Language Proficiency Requirements
                        </p>
                        <p class="custom-para">
                          For all Foundation courses, the UKVI IELTS is
                          required. A score between 5.5 and 6.5 on the
                          UKVI/Academic IELTS is required for Undergraduate
                          programs. An academic IELTS or UKVI score between 6.0
                          and 6.5 is a prerequisite for postgraduate coursework.
                          These requirements vary widely from program to program
                          and institution to institution.
                        </p>
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Academic Requirements
                        </p>
                        <p class="fw-bold custom-para">
                          Undergraduate – Bachelors
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Humanities: Minimum 65% in HSC
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Science and Commerce: Minimum 70-80% or above in HSC
                        </p>
                        <p class="fw-bold custom-para">
                          Postgraduate – Masters
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Bachelor's degree with a minimum of 60% and above
                          CGPA- 2.50+
                        </p>
                        <p class="fw-blod custom-para">PhD</p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Bachelor's and Master's degrees with 60% and above
                        </p>

                        <p class="custom-para">
                          Admissions standards vary widely between institutions
                          because each one makes its own decisions. It is common
                          practice to evaluate applications based on the
                          applicant's most recent level of qualification.
                        </p>
                        <p class="custom-para">
                          Get in touch with the International Office of the
                          institute(s) you're interested in to double-check that
                          you fulfill all admissions requirements for the
                          program(s) you're interested in applying to.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour"
                      >
                        Visa Application and Living Costs
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseFour"
                      class="accordion-collapse collapse"
                    >
                      <div class="accordion-body pe-md-5 ps-md-5">
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Funds to be shown:
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          If you wish to study within London borough – First
                          year tuition + £12,006
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Outside London borough – First year tuition + £9,207
                        </p>
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Visa Application Fees
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Tier 4 (General) or Tier 4 (Child) - £348
                        </p>
                        <p class="fw-bold custom-para">
                          Living Expenses:
                          <span class="custom-para">
                            Estimated at £500 - £1000 (per month).
                          </span>
                        </p>
                        <p class="fw-bold custom-para">
                          Acceptable Funds:
                          <span class="custom-para">
                            Bank balance in Savings Account, FDR Account (listed
                            Bank only).</span
                          >
                        </p>

                        <p class="fw-bold custom-para" style="color: #02739a">
                          Visa processing times for Bangladesh
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          A visa decision is typically issued within 3 weeks
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFive"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFive"
                      >
                        Scholarship details
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseFive"
                      class="accordion-collapse collapse"
                    >
                      <div class="accordion-body pe-md-5 ps-md-5">
                        <p class="custom-para">
                          Funding and award structure might vary widely amongst
                          educational establishments. It is possible to find
                          research programs that pay for all or most of your
                          expenses, including tuition, if you're qualified. For
                          the Undergraduate program, the amount is estimated up
                          to £2000 - £5000, and for Post-Graduate Programme
                          £1500 -£5000.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseSix"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseSix"
                      >
                        Frequently Asked Questions
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseSix"
                      class="accordion-collapse collapse"
                    >
                      <div class="accordion-body pe-md-5 ps-md-5">
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          What are the living costs while studying in the UK?
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          How much does it cost to study in the United Kingdom?
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Is it possible to study in the United Kingdom without
                          taking the IELTS exam?
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Is it possible to work in the UK with a student visa?
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Is it necessary to have health insurance in the United
                          Kingdom?
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          How much bank balance is required for a UK student
                          visa?
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          What are the intakes?
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Bank statement duration?
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- university logo  -->
    <section id="partners">
      <div class="container logo-content pt-5">
        <h4 class="custom-heading">OUR PARTNERS</h4>
        <h2 class="custom-title">
          Affiliated Groups &
          <em class="custom-em">Universities</em>
        </h2>

        <div class="align-items-center text-center pt-5 pb-5 univ row">
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-25"
                src="/assets/images/home/gbs-logo.png"
                alt="gbs logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/home/wrexham-university-logo.png"
                alt="wrexham university logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/home/arden-online-logo.png"
                alt="arden online logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/home/study-group.png"
                alt="study group"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/wright-logo.png"
                alt="wright logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/kent-logo.png"
                alt="kent logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/tarleton-logo.png"
                alt="tarleton logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/manitoba-logo.png"
                alt="manitoba logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/waterloo-logo.png"
                alt="waterloo logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/torontomet-logo.png"
                alt="torontomet logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/saskatchewan-logo.png"
                alt="saskatchewan logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/winnipeg-logo.png"
                alt="rwinnipeg logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/upei-logo.png"
                alt="upei logo"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer  -->
    <%- include('/_components/footer') %> <%- include("/_components/scripts")
    -%>
    <script type="text/javascript" src="/assets/js/slick.min.js"></script>
  </body>
</html>
