<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>About Us - SkyLane</title>
  <%- include("/_components/head-seo") -%>
  <!--  -->
  <%- include("/_components/styles") -%>
  <link rel="stylesheet" href="/assets/css/slick.min.css" />
  <link rel="stylesheet" href="/assets/css/slick-theme.min.css" />
  <link rel="stylesheet" href="/assets/css/about.css" />
</head>

<body>
  <%- include("/_components/nav") -%>

  <!-- about us banner -->
  <div class="titlebar-wrapper" style="
    background-image: linear-gradient(
        rgb(2, 115, 154, 0.6),
        rgb(86, 198, 208, 0.5)
      ),
      url('/<%= db.about_banner.imgSrc %>');
  ">
    <div class="titlebar-wrapper-header">
      <div class="container">
        <h1 class="text-white text-center black-italic"><%= db.about_banner.bannerTitle %></h1>
      </div>
    </div>
  </div>
  <!-- about -->
  <section id="about">
    <div class="container about-content p-4 p-md-0">
      <div class="row row-cols-1 row-cols-md-2 g-4 about">
        <div class="col mb-5 mb-md-0 d-flex justify-content-center">
          <img class="img-fluid rounded res-img" src="/<%= db.about_hero.imgSrc %>" alt="about-img" />
        </div>
        <div class="col pt-md-0">
          <h4 class="custom-heading"><%= db.about_hero.title %></h4>
          <h2 class="custom-title">
            Welcome to <br />
            <em class="custom-em">SkyLane Education</em>
          </h2>
          <h3 class="about-text d-none">
            We are one of the most trusted study abroad consultancy in
            Bangladesh.
          </h3>
          <p class="custom-para">
            <%= db.about_hero.text %>
          </p>
          <ul class="list-style">
            <li class="d-flex align-items-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
              </svg>
              <span class="list-li-content">Get a free consultancy to choose your destination
                university.</span>
            </li>
            <li class="d-flex align-items-center mb-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
              </svg>
              <span class="list-li-content">Receive tailor-made solutions for your university application.
              </span>
            </li>
            <li class="d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z" />
                <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z" />
              </svg>
              <span class="list-li-content">Reach your destination with accommodation, scholarship etc.
              </span>
            </li>
          </ul>
          <div class="about-btn">
            <a href="#" class="btn-about">Book a free consultation
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right text-white" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- our company  -->
  <section class="testimonials position-relative">
    <img src="/assets/images/home/bg-triangle-left.svg" class="position-absolute top-0 start-0 h-50 d-none d-md-block" />
    <img src="/assets/images/home/bg-triangle-right.svg" class="position-absolute bottom-0 end-0 h-50 d-none d-md-block" />
    <div class="container testimonial-content py-5 py-lg-5 py-md-0 position-relative">
      <div class="row row-cols-1 row-cols-md-2 g-4 footer-btm pb-5">
        <div class="col">
          <h4 class="custom-heading text-uppercase text-white">
            <%= db.about_company.title %>
          </h4>
          <h2 class="custom-title text-white">
            From 2016 till now, we have
            <em class="custom-em">15+ Countries and 200+ Universities</em>
          </h2>
          <p class="custom-para text-white">
            <%= db.about_company.text %>
          </p>
        </div>
        <div class="col text-center">
          <img src="/<%= db.about_company.imgSrc %>" alt="world map" class="img-fluid res-img" />
        </div>
      </div>
      <div class="wrapper pt-5">
        <div class="num_container">
          <span class="num" data-val="5">5+</span>
          <span class="text">Global Partners</span>
        </div>
        <div class="num_container d-flex align-items-center">
          <div class="d-flex align-items-center">
            <span class="num" data-val="15">15+</span>
            <h2 class="text-center text-white">+</h2>
          </div>
          <span class="text">Countries</span>
        </div>
        <div class="num_container d-flex align-items-center">
          <div class="d-flex align-items-center">
            <span class="num" data-val="200">200+</span>
            <h2 class="text-center text-white">+</h2>
          </div>
          <span class="text">Universities</span>
        </div>
        <div class="num_container d-flex align-items-center">
          <div class="d-flex align-items-center">
            <span class="num" data-val="600">600+</span>
            <h2 class="text-center text-white">+</h2>
          </div>
          <span class="text">Courses</span>
        </div>
      </div>
    </div>
  </section>
  <!-- what we beleive in -->
  <section id="mission" class="pt-5 pb-5">
    <!-- style="background: #f5f8fb"> -->
    <div class="container pt-5 pb-5 container-bg-layer">
      <h4 class="custom-heading text-uppercase text-white">
        Know our culture
      </h4>
      <h2 class="custom-title pb-5">
        Our Mission Vision &
        <em class="custom-em">Values</em>
      </h2>
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active mission-btn" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-ticket-detailed" viewBox="0 0 16 16">
              <path d="M4 5.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5Zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5ZM5 7a1 1 0 0 0 0 2h6a1 1 0 1 0 0-2H5Z" />
              <path d="M0 4.5A1.5 1.5 0 0 1 1.5 3h13A1.5 1.5 0 0 1 16 4.5V6a.5.5 0 0 1-.5.5 1.5 1.5 0 0 0 0 3 .5.5 0 0 1 .5.5v1.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 11.5V10a.5.5 0 0 1 .5-.5 1.5 1.5 0 1 0 0-3A.5.5 0 0 1 0 6V4.5ZM1.5 4a.5.5 0 0 0-.5.5v1.05a2.5 2.5 0 0 1 0 4.9v1.05a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-1.05a2.5 2.5 0 0 1 0-4.9V4.5a.5.5 0 0 0-.5-.5h-13Z" />
            </svg>
            <% db.about_missions.forEach(mission => { %>
            <% if (mission.id === 1) { %>
            <%= mission.title %>
            <% } %>
            <% }) %>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link mission-btn" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trophy" viewBox="0 0 16 16">
              <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935zM3.504 1c.007.517.026 1.006.056 1.469.13 2.028.457 3.546.87 4.667C5.294 9.48 6.484 10 7 10a.5.5 0 0 1 .5.5v2.61a1 1 0 0 1-.757.97l-1.426.356a.5.5 0 0 0-.179.085L4.5 15h7l-.638-.479a.501.501 0 0 0-.18-.085l-1.425-.356a1 1 0 0 1-.757-.97V10.5A.5.5 0 0 1 9 10c.516 0 1.706-.52 2.57-2.864.413-1.12.74-2.64.87-4.667.03-.463.049-.952.056-1.469H3.504z" />
            </svg>
            <% db.about_missions.forEach(mission => { %>
            <% if (mission.id === 2) { %>
            <%= mission.title %>
            <% } %>
            <% }) %>
          </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link mission-btn" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-contact" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
              <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
              <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
            </svg>
            <% db.about_missions.forEach(mission => { %>
            <% if (mission.id === 3) { %>
            <%= mission.title %>
            <% } %>
            <% }) %>
          </button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
          <div class="row">
            <div class="col-md-4 col-12 text-center">
              <% db.about_missions.forEach(mission => { %>
              <% if (mission.id === 1) { %>
              <img src="/<%= mission.imgSrc %>" alt="mission" class="img-fluid" />
              <% } %>
              <% }) %>
            </div>
            <div class="col-md-8 col-12 pe-4 ps-4 pe-md-3 ps-md-3">
              <h2 class="custom-title fw-bold pt-4 pt-md-0"> <% db.about_missions.forEach(mission => { %>
                <% if (mission.id === 1) { %>
                <%= mission.title %>
                <% } %>
                <% }) %></h2>
              <% db.about_missions.forEach(mission => { %>
              <% if (mission.id === 1) { %>
              <%- mission.text.replaceAll("<p>", '<p class="custom-para">') %>
              <% } %>
              <% }) %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
          <div class="row">
            <div class="col-md-4 col-12 text-center">
              <% db.about_missions.forEach(mission => { %>
              <% if (mission.id === 2) { %>
              <img src="/<%= mission.imgSrc %>" alt="vision" class="img-fluid" />
              <% } %>
              <% }) %>
            </div>
            <div class="col-md-8 col-12 pe-4 ps-4 pe-md-3 ps-md-3">
              <h2 class="custom-title fw-bold pt-4 pt-md-0"><% db.about_missions.forEach(mission => { %>
                <% if (mission.id === 2) { %>
                <%= mission.title %>
                <% } %>
                <% }) %></h2>
              <% db.about_missions.forEach(mission => { %>
              <% if (mission.id === 2) { %>
              <%- mission.text.replaceAll("<p>", '<p class="custom-para">') %>
              <% } %>
              <% }) %>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab" tabindex="0">
          <div class="row">
            <div class="col-md-4 col-12 text-center">
              <% db.about_missions.forEach(mission => { %>
              <% if (mission.id === 3) { %>
              <img src="/<%= mission.imgSrc %>" alt="values" class="img-fluid" />
              <% } %>
              <% }) %>
            </div>
            <div class="col-md-8 col-12 pe-4 ps-4 pe-md-3 ps-md-3">
              <h2 class="custom-title fw-bold pt-4 pt-md-0"><% db.about_missions.forEach(mission => { %>
                <% if (mission.id === 3) { %>
                <%= mission.title %>
                <% } %>
                <% }) %></h2>
              <% db.about_missions.forEach(mission => { %>
              <% if (mission.id === 3) { %>
              <%- mission.text.replaceAll("<p>", '<p class="custom-para">') %>
              <% } %>
              <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- message from md -->
  <section id="messagefrommd" style="background: #f5f8fb">
    <div class="container about-content">
      <div class="row row-cols-1 row-cols-md-2 g-4 about">
        <div class="col">
          <img class="img-fluid rounded" src="/<%= db.about_director.imgSrc %>" alt="about-img" />
        </div>
        <div class="col pt-md-0">
          <h4 class="custom-heading"><%= db.about_director.title %></h4>
          <h2 class="custom-title">
            Message from our <br />
            <em class="custom-em">Managing Director</em>
          </h2>
          <%- db.about_director.text.replaceAll("<p>", '<p class="custom-para">') %>
        </div>
      </div>
    </div>
  </section>
  <!-- partners -->
  <section id="partners">
    <div class="container  py-5">
      <h4 class="custom-heading">OUR PARTNERS</h4>
      <h2 class="custom-title">
        Affiliated Groups &
        <em class="fw-bold fst-italic">Universities</em>
      </h2>
      <div class="align-items-center text-center pt-5 pb-5 univ row">
        <% db.home_partners.forEach(partner => { %>
        <div class="col-md-3 col-sm-3 col-1">
          <div class="d-flex justify-content-center">
            <img class="img-fluid w-50" src="/<%- partner.imgSrc %>" alt="partners logo" />
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </section>
  <!-- team -->
  <section id="team">
    <div class="container pt-md-5 pb-5 mb-md-5">
      <h4 class="custom-heading text-center">OUR CONSULTANT</h4>
      <h2 class="custom-title text-center pb-md-3">
        Meet Our
        <em class="custom-em">Dedicated Employees</em>
      </h2>
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <% db.about_employees.forEach(employee => { %>
        <div class="col ps-4 pe-4 ps-md-2 pe-md-2">
          <div class="card border-0 shadow h-100">
            <div class="d-flex justify-content-center">
              <img src="/<%= employee.imgSrc %>" class="card-img-top" alt="team-01" />
            </div>
            <div class="card-body">
              <h5 class="choose-title"><%= employee.title %></h5>
              <p class="custom-para"><%= employee.text %></p>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </section>
  <!-- footer  -->
  <%- include('/_components/footer') %> <%- include("/_components/scripts")
    -%>
  <%- include("/_components/scripts", {dontAddScript: true}) %>
  <script type="text/javascript" src="/assets/js/slick.min.js" defer></script>
  <script type="text/javascript" src="/assets/js/script.js" defer></script>
</body>

</html>