<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Certificate of Recognitions - SkyLane</title>
  <%- include("/_components/head-seo") -%>
  <!--  -->
  <%- include("/_components/styles") -%>
  <link rel="stylesheet" href="/assets/css/study.css" />
</head>

<body>
  <%- include("/_components/nav") -%>

  <!-- certificate banner  -->
  <div class="titlebar-wrapper" style="
    background-image: linear-gradient(
        rgb(2, 115, 154, 0.6),
        rgb(86, 198, 208, 0.5)
      ),
      url('/<%= db.certificaterecognitions_banner.imgSrc %>');
  ">
    <div class="titlebar-wrapper-header">
      <div class="container">
        <h1 class="text-white text-center black-italic"><%= db.certificaterecognitions_banner.bannerTitle %></h1>
      </div>
    </div>
  </div>

  <!-- certificate -->
  <section class="certificate">
    <div class="container certificate-content pt-5 pb-5">
      <div class="row g-4">
        <h4 class="custom-heading d-md-block d-none">
          Check Our <%= db.certificaterecognitions_content.title %>
        </h4>
        <div class="col-md-4">
          <h4 class="custom-heading d-md-none d-block">
            Check Our <%= db.certificaterecognitions_content.title %>
          </h4>
          <h2 class="custom-title">
            Certificate of
            <br />
            <em class="custom-em">Recognitions</em>
          </h2>
        </div>
        <div class="col-md-8">
          <p class="custom-paragraph">
            <%= db.certificaterecognitions_content.text %>
          </p>
        </div>
      </div>
      <div class="row mt-md-5 pt-md-5">
        <div class="col-md-3 col-12">
          <div class="list-group d-md-block d-none" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action p-3 active" id="list-home-list" data-bs-toggle="list" href="#authorization" role="tab" aria-controls="list-uk" aria-selected="true">
              <span><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16" width="26" height="26">
                  <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"></path>
                  <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"></path>
                </svg>
              </span>
              Authorization Certificate</a>
            <a class="list-group-item list-group-item-action p-3" id="list-profile-list" data-bs-toggle="list" href="#training" role="tab" aria-controls="list-usa" aria-selected="false" tabindex="-1">
              <span><svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16" width="26" height="26">
                  <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"></path>
                  <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"></path>
                </svg>
              </span>
              Training Certificate</a>
            <a class="list-group-item list-group-item-action p-3" id="list-messages-list" data-bs-toggle="list" href="#awards" role="tab" aria-controls="list-canada" aria-selected="false" tabindex="-1">
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-mortarboard-fill" viewBox="0 0 16 16" width="26" height="26">
                  <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"></path>
                  <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"></path>
                </svg>
              </span>
              Award Certificate</a>
          </div>
          <div class="list-group d-md-none d-flex" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action p-3 active" id="list-home-list" data-bs-toggle="list" href="#authorization" role="tab" aria-controls="list-uk" aria-selected="true">
              Authorize</a>
            <a class="list-group-item list-group-item-action p-3" id="list-profile-list" data-bs-toggle="list" href="#training" role="tab" aria-controls="list-usa" aria-selected="false" tabindex="-1">
              Training</a>
            <a class="list-group-item list-group-item-action p-3" id="list-messages-list" data-bs-toggle="list" href="#awards" role="tab" aria-controls="list-canada" aria-selected="false" tabindex="-1">
              Awards</a>
          </div>
        </div>
        <div class="col-md-9 col-12 pt-5 pt-md-0">
          <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade active show" id="authorization" role="tabpanel" aria-labelledby="list-home-list">
              <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                  <% db.certificaterecognitions_authorization.forEach(certificate => { %>
                  <div class="carousel-item <%- certificate.id === 1 ? "active" : "" %>">
                    <img src="/<%= certificate.imgSrc %>" class="d-block w-100" alt="authorization certificate" />
                  </div>
                  <% }) %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <div class="tab-pane fade" id="training" role="tabpanel" aria-labelledby="list-profile-list">
              <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <% db.certificaterecognitions_training.forEach(certificate => { %>
                  <div class="carousel-item <%- certificate.id === 1 ? "active" : "" %>">
                    <img src="/<%= certificate.imgSrc %>" class="d-block w-100" alt="authorization certificate" />
                  </div>
                  <% }) %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
            <div class="tab-pane fade" id="awards" role="tabpanel" aria-labelledby="list-messages-list">
              <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <% db.certificaterecognitions_awards.forEach(certificate => { %>
                  <div class="carousel-item <%- certificate.id === 1 ? "active" : "" %>">
                    <img src="/<%= certificate.imgSrc %>" class="d-block w-100" alt="authorization certificate" />
                  </div>
                  <% }) %>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%- include('/_components/footer') %> <%- include("/_components/scripts")
    -%>
</body>

</html>