<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Universities we represent - SkyLane</title>
    <%- include("/_components/head-seo") -%>
    <!--  -->
    <%- include("/_components/styles") -%>
  </head>

  <style>
    .card {
      position: relative;
      overflow: hidden;
    }
    .card:hover::before {
      left: 10%;
    }
    .card::before {
      position: absolute;
      content: "";
      width: 80%;
      height: 200%;
      background: #f47426;
      top: -50%;
      left: -100%;
      z-index: 1;
      transform: rotate(25deg);
      transform-origin: center top 0;
      transition: 0.5s;
      opacity: 1;
    }
    .card a {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 3;
    }
  </style>

  <style>
    /*-------- Universities we represnet test -------*/
    .uwe-feature {
      text-align: center;
      position: relative;
      z-index: 1;
    }

    .uwe-feature:before {
      content: "";
      width: 100%;
      height: 100%;
      background: #56c6d0;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -3;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      background: url(/assets/images/university-banner.webp);
    }

    .uwe-feature:hover:before {
      opacity: 1;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
    }

    .uwe-feature:after {
      content: "";
      width: 100%;
      height: 100%;
      background: #56c6d0;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -3;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
    }

    .uwe-feature:hover:after {
      opacity: 0.9;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
    }

    .uwe-feature i {
      color: #002147;
    }
    .uwe-feature .show {
      opacity: 1;
      visibility: visible;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
    }

    .uwe-feature .hide {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 76px;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
    }

    .uwe-feature:hover .show {
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
    }

    .uwe-feature:hover .hide {
      opacity: 1;
      visibility: visible;
      top: 30px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
    }

    .uwe-feature .hide h2 {
      position: relative;
      line-height: 0;
    }
    .uwe-feature .hide h2::after {
      position: absolute;
      content: "";
      /* width: 30px;
      height: 2px;
      background: #fff; */
      top: 35px;
      left: 50%;
      margin-left: -15px;
    }
    .uwe-feature .hide h2 a {
      font-size: 20px;
      color: #fff;
    }
    .uwe-feature .hide p {
      font-size: 14px;
      color: #fff;
      padding: 0 50px;
      margin-top: 20px;
      margin-bottom: 15px;
    }

    .uwe-feature .hide i {
      color: #fff;
      border: 1px solid #fff;
      width: 25px;
      height: 25px;
      border-radius: 50px !important;
      line-height: 22px;
    }
    .uwe-feature h2 a {
      color: #2a2a2a;
      font-size: 20px;
    }
    .uwe-feature .icon-box i {
      font-size: 45px;
    }

    .university {
      height: 180px;
      width: 180px;
      line-height: 180px;
      text-align: center;
      position: relative;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      margin: 0 auto;
    }

    .university img {
      margin: 0 auto;
      position: relative;
      height: 180px;
      width: 180px;
    }

    @media only screen and (max-width: 767px) {
      .uwe-feature h2 a {
        color: #2a2a2a;
        font-size: 12px;
      }
      .uwe-feature {
        width: 50%;
        border-bottom: 1px solid #f5f5f5;
        padding-top: 5px;
      }

      .uwe-feature .hide p {
        font-size: 10px;
        color: #fff;
        padding: 0 30px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    @media only screen and (max-width: 991px) {
      .uwe-feature h2 a {
        color: #2a2a2a;
        font-size: 12px;
      }
      .uwe-feature {
        width: 50%;
        border-bottom: 1px solid #f5f5f5;
        padding-top: 5px;
      }

      .uwe-feature .hide p {
        font-size: 10px;
        color: #fff;
        padding: 0 30px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    @media only screen and (max-width: 575px) {
      .uwe-feature {
        width: 100%;
        border-bottom: 1px solid #f5f5f5;
        padding-top: 5px;
      }
      .l-box,
      .t-box2,
      .t-box {
        box-shadow: none;
      }

      .uwe-feature .hide p {
        font-size: 10px;
        color: #fff;
        padding: 0 10px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  </style>

  <body>
    <%- include("/_components/nav") -%>
    <!-- university we present  -->
    <div class="titlebar-wrapper" style="
    background-image: linear-gradient(
        rgb(2, 115, 154, 0.6),
        rgb(86, 198, 208, 0.5)
      ),
      url('/assets/images/universit-banner.jpg');
  ">
      <div class="titlebar-wrapper-header">
        <div class="container">
          <h1 class="text-white text-center black-italic d-none">Universities We Represent</h1>
          <h1 class="text-white text-center black-italic">Canadian Universities</h1>
        </div>
      </div>
    </div>

    <!-- university  -->
    <section id="university">
      <div class="container blog-content">
        <!-- uk  -->
        <div class="row row-cols-1 row-cols-md-2 g-4 custom d-none">
          <div class="col">
            <h4 class="custom-heading">Study in</h4>
            <h2 class="custom-title">
              <em class="custom-em">UK</em>
            </h2>
          </div>
          <div class="col">
            <p class="custom-paragraph">
              Study in UK with scholarship, with or without IELTS, with work permit and so on.
            </p>
          </div>
        </div>
        <div
          class="row row-cols-1 row-cols-md-3 g-4 pt-5 d-none"
          style="margin-bottom: 80px"
        >
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    src="../assets/images/universities/uk/birmingham-city-university.png"
                    class="card-img-top img-fluid"
                    alt="birmingham-city-university"
                  />
                </a>
              </div>
            </div>          
          </div>        
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/uk/coventry-university-london.png"
                    class="card-img-top img-fluid"
                    alt="coventry-university-london"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/uk/de-montfort-university.jpg"
                    class="card-img img-fluid"
                    alt="de-montfort-university"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/uk/london-metropolitan-university.jpg"
                    class="card-img-top"
                    alt="london-metropolitan-university"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/uk/ulster-university.png"
                    class="card-img-top"
                    alt="ulster-university"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/uk/teesside-university.jpg"
                    class="card-img img-fluid"
                    alt="teesside-university"
                  />
                </a>
              </div>
            </div>
          </div>          
        </div>
         <!-- usa  -->
        <div class="row row-cols-1 row-cols-md-2 g-4 custom d-none">
          <div class="col">
            <h4 class="custom-heading">Study in</h4>
            <h2 class="custom-title">
              <em class="custom-em">USA</em>
            </h2>
          </div>
          <div class="col">
            <p class="custom-paragraph">
              Study in USA with scholarship, with or without IELTS, with work permit and so on.
            </p>
          </div>
        </div>
        <div
          class="row row-cols-1 row-cols-md-3 g-4 pt-5 d-none"
          style="margin-bottom: 80px"
        >
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    src="../assets/images/universities/usa/avila-university.png"
                    class="card-img-top img-fluid"
                    alt="avila-university"
                  />
                </a>
              </div>
            </div>          
          </div>        
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/usa/california-state-university.jpg"
                    class="card-img-top img-fluid"
                    alt="california-state-university"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/usa/faulkner-university.png"
                    class="card-img img-fluid"
                    alt="faulkner-university"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/usa/san-francisco-state-university.png"
                    class="card-img-top"
                    alt="san-francisco-state-university"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/usa/university-colorado.png"
                    class="card-img-top"
                    alt="university-colorado"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/usa/university-south-alabama.jpg"
                    class="card-img img-fluid"
                    alt="university-south-alabama"
                  />
                </a>
              </div>
            </div>
          </div>          
        </div>
        <!-- canada -->
        <div class="row row-cols-1 row-cols-md-2 g-4 custom">
          <div class="col">
            <h4 class="custom-heading">Study in</h4>
            <h2 class="custom-title">
              <em class="custom-em">Canada</em>
            </h2>
          </div>
          <div class="col">
            <p class="custom-paragraph">
              Study in Canada with scholarship, with or without IELTS, with work permit and so on.
            </p>
          </div>
        </div>
        <div
          class="row row-cols-1 row-cols-md-3 g-4 pt-5"
          style="margin-bottom: 80px"
        >
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    src="/assets/images/universities/canada/waterloo-logo.png"
                    class="card-img-top img-fluid"
                    alt="university-of-waterloo"
                  />
                </a>
              </div>
            </div>          
          </div>
          <!-- <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class=" border-0 shadow">
              <div class="uwe-feature">
                <div class="show">
                  <div class="university">
                    <img
                      src="/assets/images/universities/canada/waterloo-logo.png"
                      alt="University of Waterloo"
                    />
                  </div>
                </div>
                <div class="hide">
                  <h2>
                    <a
                      href="https://www.nhpeducationconsultants.com/university-of-waterloo.html"
                      >University of Waterloo</a
                    >
                  </h2>
                  <p>
                    Comprehensive Research University in Waterloo, Ontario, Canada
                  </p>
                  <a
                    href="https://www.nhpeducationconsultants.com/university-of-waterloo.html"
                    ><i class="fa fa-angle-right" aria-hidden="true"></i
                  ></a>
                </div>
              </div>
            </div>
            </div> -->
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/canada/torontomet-logo.png"
                    class="card-img-top img-fluid"
                    alt="torontomet-logo"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/canada/manitoba-logo.png"
                    class="card-img img-fluid"
                    alt="manitoba-logo"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/canada/saskatchewan-logo.png"
                    class="card-img-top"
                    alt="saskatchewan-logo"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/canada/brock-logo.png"
                    class="card-img-top"
                    alt="brock-logo"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/canada/regina-logo.png"
                    class="card-img img-fluid"
                    alt="regina-logo"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/canada/winnipeg-logo.png"
                    class="card-img-top"
                    alt="winnipeg-logo"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/canada/unb-logo.png"
                    class="card-img-top img-fluid"
                    alt="unb-logo"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/canada/trent-logo.png"
                    class="card-img img-fluid"
                    alt="trent-logo"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/canada/laurier-logo.png"
                    class="card-img-top"
                    alt="laurier-logo"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/canada/upei-logo.png"
                    class="card-img-top"
                    alt="upei-logo"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/canada/rru-logo.png"
                    class="card-img img-fluid"
                    alt="rru-logo"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/canada/mun-grenfell-logo.png"
                    class="card-img img-fluid"
                    alt="mun-grenfell-logo"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/canada/macewan-logo.png"
                    class="card-img img-fluid"
                    alt="macewan-logo"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/canada/viu-logo.png"
                    class="card-img img-fluid"
                    alt="viu-logo"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/canada/seneca-logo.png"
                    class="card-img img-fluid"
                    alt="seneca-logo"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/canada/brown-logo.png"
                    class="card-img img-fluid"
                    alt="brown-logo"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/canada/douglas-logo.png"
                    class="card-img img-fluid"
                    alt="douglas-logo"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/canada/niagara-logo.png"
                    class="card-img img-fluid"
                    alt="niagara-logo"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/canada/durham-logo2.png"
                    class="card-img img-fluid"
                    alt="durham-logo"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/canada/stclair-logo.png"
                    class="card-img img-fluid"
                    alt="stclair-logo"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
         <!-- australia  -->
        <div class="row row-cols-1 row-cols-md-2 g-4 custom d-none">
          <div class="col">
            <h4 class="custom-heading">Study in</h4>
            <h2 class="custom-title">
              <em class="custom-em">Australia</em>
            </h2>
          </div>
          <div class="col">
            <p class="custom-paragraph">
              Study in Australia with scholarship, with or without IELTS, with work permit and so on.
            </p>
          </div>
        </div>
        <div
          class="row row-cols-1 row-cols-md-3 g-4 pt-5 d-none"
          style="margin-bottom: 80px"
        >
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    src="../assets/images/universities/australia/australian-national-university-college.jpg"
                    class="card-img-top img-fluid"
                    alt="australian-national-university-college"
                  />
                </a>
              </div>
            </div>          
          </div>        
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/australia/perth-college-buisness.png"
                    class="card-img-top img-fluid"
                    alt="perth-college-buisness"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/australia/southern-cross-university.png"
                    class="card-img img-fluid"
                    alt="southern-cross-university"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/australia/taylors-college.png"
                    class="card-img-top"
                    alt="taylors-college"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/australia/university-canterbury.png"
                    class="card-img-top"
                    alt="university-canterbury"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/australia/university-sydney.png"
                    class="card-img img-fluid"
                    alt="university-sydney"
                  />
                </a>
              </div>
            </div>
          </div>          
        </div>
         <!-- malta  -->
         <div class="row row-cols-1 row-cols-md-2 g-4 custom d-none">
          <div class="col">
            <h4 class="custom-heading">Study in</h4>
            <h2 class="custom-title">
              <em class="custom-em">Malta</em>
            </h2>
          </div>
          <div class="col">
            <p class="custom-paragraph">
              Study in Malta with scholarship, with or without IELTS, with work permit and so on.
            </p>
          </div>
        </div>
        <div
          class="row row-cols-1 row-cols-md-3 g-4 pt-5 d-none"
          style="margin-bottom: 80px"
        >
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    src="../assets/images/universities/dubai/gbs-malta.png"
                    class="card-img-top img-fluid"
                    alt="gbs-malta"
                  />
                </a>
              </div>
            </div>          
          </div>        
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/dubai/american-university-malta.png"
                    class="card-img-top img-fluid"
                    alt="american-university-malta"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/dubai/advenio-academy.png"
                    class="card-img img-fluid"
                    alt="advenio-academy"
                  />
                </a>
              </div>
            </div>
          </div>                    
        </div>
         <!-- dubai  -->
         <div class="row row-cols-1 row-cols-md-2 g-4 custom d-none">
          <div class="col">
            <h4 class="custom-heading">Study in</h4>
            <h2 class="custom-title">
              <em class="custom-em">Dubai</em>
            </h2>
          </div>
          <div class="col">
            <p class="custom-paragraph">
              Study in Dubai with scholarship, with or without IELTS, with work permit and so on.
            </p>
          </div>
        </div>
        <div
          class="row row-cols-1 row-cols-md-3 g-4 pt-5 d-none"
          style="margin-bottom: 80px"
        >
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    src="../assets/images/universities/dubai/american-university-dubai.png"
                    class="card-img-top img-fluid"
                    alt="american-university-dubai"
                  />
                </a>
              </div>
            </div>          
          </div>        
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/dubai/emirates-academy.png"
                    class="card-img-top img-fluid"
                    alt="emirates-academy"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/dubai/canterbury-chris-church-university.jpg"
                    class="card-img img-fluid"
                    alt="canterbury-chris-church-university"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/dubai/gbs-dubai.png"
                    class="card-img-top"
                    alt="gbs-dubai"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/dubai/advenio-academy.png"
                    class="card-img-top"
                    alt="advenio-academy"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/dubai/gbs-dubai.png"
                    class="card-img img-fluid"
                    alt="gbs-dubai"
                  />
                </a>
              </div>
            </div>
          </div>          
        </div>
         <!-- europe  -->
         <div class="row row-cols-1 row-cols-md-2 g-4 custom d-none">
          <div class="col">
            <h4 class="custom-heading">Study in</h4>
            <h2 class="custom-title">
              <em class="custom-em">Europe</em>
            </h2>
          </div>
          <div class="col">
            <p class="custom-paragraph">
              Study in Europe with scholarship, with or without IELTS, with work permit and so on.
            </p>
          </div>
        </div>
        <div
          class="row row-cols-1 row-cols-md-3 g-4 pt-5 d-none"
          style="margin-bottom: 80px"
        >
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    src="../assets/images/universities/europe/academy-costume-fashion.jpg"
                    class="card-img-top img-fluid"
                    alt="academy-costume-fashion"
                  />
                </a>
              </div>
            </div>          
          </div>        
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/europe/domus-academy-design-fashion.png"
                    class="card-img-top img-fluid"
                    alt="domus-academy-design-fashion"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/europe/essca-ecole-de-management.png"
                    class="card-img img-fluid"
                    alt="essca-ecole-de-management"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/europe/group-esc-clermont.png"
                    class="card-img-top"
                    alt="group-esc-clermont"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/europe/isc-paris.jpg"
                    class="card-img-top"
                    alt="isc-paris"
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/europe/speos-photography-paris.png"
                    class="card-img img-fluid"
                    alt="speos-photography-paris"
                  />
                </a>
              </div>
            </div>
          </div>          
        </div>
         <!-- malaysia  -->
         <div class="row row-cols-1 row-cols-md-2 g-4 custom d-none">
          <div class="col">
            <h4 class="custom-heading">Study in</h4>
            <h2 class="custom-title">
              <em class="custom-em">Malaysia</em>
            </h2>
          </div>
          <div class="col">
            <p class="custom-paragraph">
              Study in Malaysia with scholarship, with or without IELTS, with work permit and so on.
            </p>
          </div>
        </div>
        <div
          class="row row-cols-1 row-cols-md-3 g-4 pt-5 d-none"
          style="margin-bottom: 80px"
        >
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    src="../assets/images/universities/malaysia/asia-pacific-university.png"
                    class="card-img-top img-fluid"
                    alt="asia-pacific-university"
                  />
                </a>
              </div>
            </div>          
          </div>        
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="../assets/images/universities/malaysia/lincon-university.jpg"
                    class="card-img-top img-fluid"
                    alt="lincon-university"
                  />
                </a>
              </div>
            </div>
          </div>                             
        </div>
      </div>
    </section>
    <!-- footer  -->
    <%- include('/_components/footer') %> <%- include("/_components/scripts")
    -%>
  </body>
  <script>
      var blogsJson = <%- JSON.stringify(db.countries_details) %>;
    const urlParams = new URLSearchParams(window.location.search);
    const blogSlug = urlParams.get('name');
  

    console.log('blog -', blogSlug)
  </script>
</html>
