<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Universities we represent - Skylane</title>
    <%- include("/_components/head-seo") -%>
    <!--  -->
    <%- include("/_components/styles") -%>
  </head>

  <body>
    <%- include("/_components/nav") -%>
    <!-- university we present  -->
    <div
      class="themestek-titlebar-wrapper themestek-bg themestek-bgcolor-transparent themestek-titlebar-align-allleft themestek-textcolor-white themestek-bgimage-yes"
    >
      <div class="themestek-titlebar-wrapper-bg-layer themestek-bg-layer"></div>
      <div class="themestek-titlebar entry-header">
        <div class="themestek-titlebar-inner-wrapper">
          <div class="themestek-titlebar-main">
            <div class="container">
              <div class="themestek-titlebar-main-inner">
                <div class="entry-title-wrapper">
                  <div class="container">
                    <h1 class="entry-title text-white">
                      Universities We Represent
                    </h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- blog  -->
    <section id="blog">
      <div class="container blog-content">
        <div class="row row-cols-1 row-cols-md-2 g-4 custom">
          <div class="col">
            <h4 class="custom-heading">We Present</h4>
            <h2 class="custom-title">
              <em class="custom-em">Canada</em>
            </h2>
          </div>
          <div class="col">
            <p class="custom-paragraph">
              List of Universities and Colleges in Canada that Skylane Education
              Consultants represents.
            </p>
          </div>
        </div>
        <div
          class="row row-cols-1 row-cols-md-3 g-4 pt-5"
          style="margin-bottom: 80px"
        >
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/waterloo-logo.png"
                    class="card-img-top"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/torontomet-logo.png"
                    class="card-img-top img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/manitoba-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/saskatchewan-logo.png"
                    class="card-img-top"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/brock-logo.png"
                    class="card-img-top"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/regina-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/winnipeg-logo.png"
                    class="card-img-top"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/unb-logo.png"
                    class="card-img-top img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/trent-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/laurier-logo.png"
                    class="card-img-top"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/upei-logo.png"
                    class="card-img-top"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/rru-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/mun-grenfell-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/macewan-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/viu-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/seneca-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/brown-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/douglas-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/niagara-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/durham-logo2.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/stclair-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer  -->
    <%- include('/_components/footer') %>

    <%- include("/_components/scripts") -%>
  </body>
</html>
