<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Universities we represent - SkyLane</title>
    <%- include("/_components/head-seo") -%>
    <!--  -->
    <%- include("/_components/styles") -%>
  </head>

  <style>
    .card {
      position: relative;
      overflow: hidden;
    }
    .card:hover::before {
      left: 10%;
    }
    .card::before {
      position: absolute;
      content: "";
      width: 80%;
      height: 200%;
      background: #f47426;
      top: -50%;
      left: -100%;
      z-index: 1;
      transform: rotate(25deg);
      transform-origin: center top 0;
      transition: 0.5s;
      opacity: 1;
    }
    .card a {
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 3;
    }
  </style>

  <style>
    /*-------- Universities we represnet test -------*/
    .uwe-feature {
      text-align: center;
      position: relative;
      z-index: 1;
    }

    .uwe-feature:before {
      content: "";
      width: 100%;
      height: 100%;
      background: #56c6d0;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -3;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      background: url(/assets/images/university-banner.webp);
    }

    .uwe-feature:hover:before {
      opacity: 1;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
    }

    .uwe-feature:after {
      content: "";
      width: 100%;
      height: 100%;
      background: #56c6d0;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      z-index: -3;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
    }

    .uwe-feature:hover:after {
      opacity: 0.9;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
    }

    .uwe-feature i {
      color: #002147;
    }
    .uwe-feature .show {
      opacity: 1;
      visibility: visible;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
    }

    .uwe-feature .hide {
      opacity: 0;
      visibility: hidden;
      position: absolute;
      top: 76px;
      transition: all 0.5s;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -o-transition: all 0.5s;
    }

    .uwe-feature:hover .show {
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
    }

    .uwe-feature:hover .hide {
      opacity: 1;
      visibility: visible;
      top: 30px;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
    }

    .uwe-feature .hide h2 {
      position: relative;
      line-height: 0;
    }
    .uwe-feature .hide h2::after {
      position: absolute;
      content: "";
      /* width: 30px;
      height: 2px;
      background: #fff; */
      top: 35px;
      left: 50%;
      margin-left: -15px;
    }
    .uwe-feature .hide h2 a {
      font-size: 20px;
      color: #fff;
    }
    .uwe-feature .hide p {
      font-size: 14px;
      color: #fff;
      padding: 0 50px;
      margin-top: 20px;
      margin-bottom: 15px;
    }

    .uwe-feature .hide i {
      color: #fff;
      border: 1px solid #fff;
      width: 25px;
      height: 25px;
      border-radius: 50px !important;
      line-height: 22px;
    }
    .uwe-feature h2 a {
      color: #2a2a2a;
      font-size: 20px;
    }
    .uwe-feature .icon-box i {
      font-size: 45px;
    }

    .university {
      height: 180px;
      width: 180px;
      line-height: 180px;
      text-align: center;
      position: relative;
      transition: all 0.4s;
      -webkit-transition: all 0.4s;
      -moz-transition: all 0.4s;
      -o-transition: all 0.4s;
      margin: 0 auto;
    }

    .university img {
      margin: 0 auto;
      position: relative;
      height: 180px;
      width: 180px;
    }

    @media only screen and (max-width: 767px) {
      .uwe-feature h2 a {
        color: #2a2a2a;
        font-size: 12px;
      }
      .uwe-feature {
        width: 50%;
        border-bottom: 1px solid #f5f5f5;
        padding-top: 5px;
      }

      .uwe-feature .hide p {
        font-size: 10px;
        color: #fff;
        padding: 0 30px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    @media only screen and (max-width: 991px) {
      .uwe-feature h2 a {
        color: #2a2a2a;
        font-size: 12px;
      }
      .uwe-feature {
        width: 50%;
        border-bottom: 1px solid #f5f5f5;
        padding-top: 5px;
      }

      .uwe-feature .hide p {
        font-size: 10px;
        color: #fff;
        padding: 0 30px;
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    @media only screen and (max-width: 575px) {
      .uwe-feature {
        width: 100%;
        border-bottom: 1px solid #f5f5f5;
        padding-top: 5px;
      }
      .l-box,
      .t-box2,
      .t-box {
        box-shadow: none;
      }

      .uwe-feature .hide p {
        font-size: 10px;
        color: #fff;
        padding: 0 10px;
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }
  </style>

  <body>
    <%- include("/_components/nav") -%>
    <!-- university we present  -->
    <div class="titlebar-wrapper">
      <div class="titlebar-wrapper-header">
        <div class="container">
          <h1 class="text-white">Universities We Represent</h1>
        </div>
      </div>
    </div>

    <!-- university  -->
    <section id="university">
      <div class="container blog-content">
        <div class="row row-cols-1 row-cols-md-2 g-4 custom">
          <div class="col">
            <h4 class="custom-heading">We Present</h4>
            <h2 class="custom-title">
              <em class="custom-em">Canada</em>
            </h2>
          </div>
          <div class="col">
            <p class="custom-paragraph">
              List of Universities and Colleges in Canada that SkyLane Education
              Consultants represents.
            </p>
          </div>
        </div>
        <div
          class="row row-cols-1 row-cols-md-3 g-4 pt-5"
          style="margin-bottom: 80px"
        >
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a
                  href="http://face.com"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <img
                    src="/assets/images/universities/waterloo-logo.png"
                    class="card-img-top img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>          
          </div>
          <!-- <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class=" border-0 shadow">
              <div class="uwe-feature">
                <div class="show">
                  <div class="university">
                    <img
                      src="/assets/images/universities/waterloo-logo.png"
                      alt="University of Waterloo"
                    />
                  </div>
                </div>
                <div class="hide">
                  <h2>
                    <a
                      href="https://www.nhpeducationconsultants.com/university-of-waterloo.html"
                      >University of Waterloo</a
                    >
                  </h2>
                  <p>
                    Comprehensive Research University in Waterloo, Ontario, Canada
                  </p>
                  <a
                    href="https://www.nhpeducationconsultants.com/university-of-waterloo.html"
                    ><i class="fa fa-angle-right" aria-hidden="true"></i
                  ></a>
                </div>
              </div>
            </div>
            </div> -->
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/torontomet-logo.png"
                    class="card-img-top img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/manitoba-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/saskatchewan-logo.png"
                    class="card-img-top"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/brock-logo.png"
                    class="card-img-top"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/regina-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/winnipeg-logo.png"
                    class="card-img-top"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/unb-logo.png"
                    class="card-img-top img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/trent-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/laurier-logo.png"
                    class="card-img-top"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/upei-logo.png"
                    class="card-img-top"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/rru-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/mun-grenfell-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/macewan-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/viu-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/seneca-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/brown-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/douglas-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/niagara-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/durham-logo2.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0 shadow">
              <div class="d-flex justify-content-center">
                <a href="http://" target="_blank" rel="noopener noreferrer">
                  <img
                    src="/assets/images/universities/stclair-logo.png"
                    class="card-img img-fluid"
                    alt="..."
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer  -->
    <%- include('/_components/footer') %> <%- include("/_components/scripts")
    -%>
  </body>
</html>
