<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Study Abroad - Skylane</title>
    <%- include("/_components/head-seo") -%>
    <!--  -->
    <%- include("/_components/styles") -%>
  </head>

  <body>
    <%- include("/_components/nav") -%>

    <!-- study abroad banner  -->
    <div
      class="themestek-titlebar-wrapper themestek-bg themestek-bgcolor-transparent themestek-titlebar-align-allleft themestek-textcolor-white themestek-bgimage-yes"
    >
      <div class="themestek-titlebar-wrapper-bg-layer themestek-bg-layer"></div>
      <div class="themestek-titlebar entry-header">
        <div class="themestek-titlebar-inner-wrapper">
          <div class="themestek-titlebar-main">
            <div class="container">
              <div class="themestek-titlebar-main-inner">
                <div class="entry-title-wrapper">
                  <div class="container">
                    <h1 class="entry-title text-white">Study Abroad</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- .themestek-titlebar-main -->
        </div>
        <!-- .themestek-titlebar-inner-wrapper -->
      </div>
      <!-- .themestek-titlebar -->
    </div>
    <!-- study abroad country -->
    <section id="study-abroad">
      <div class="container country-content pt-md-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col bg-transparent">
            <div class="card h-100 border-0">
              <div class="d-flex justify-content-center">
                <img
                  src="/assets/images/country-04.jpg"
                  class="card-img-top res-img res-img"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <h3 class="text-center choose-title">United Kingdom</h3>
                <p class="text-center custom-para">
                  Studying in the United Kingdom quis nostrud exercitation
                  ullamco.
                </p>
              </div>
              <div class="card-footer border-0 bg-transparent text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-arrow-right read-more-text"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
                <a
                  href="/study-in-uk/"
                  class="text-decoration-none read-more-text"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col bg-transparent">
            <div class="card h-100 border-0 bg-transparent">
              <div class="d-flex justify-content-center">
                <img
                  src="/assets/images/home/country-01.jpg"
                  class="card-img-top res-img res-img"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <h5 class="text-center choose-title">United States</h5>
                <p class="text-center custom-para">
                  Studying In The United State of America quis nostrud
                  exercitation
                </p>
              </div>
              <div class="card-footer border-0 bg-transparent text-center">
                <span class="position-relative">
                  <span
                    class="position-absolute right-0 moveon-hover"
                    style="right: 0"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      fill="currentColor"
                      class="bi bi-circle"
                      viewBox="0 0 16 16"
                    >
                      <path
                        d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                      />
                    </svg>
                  </span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="20"
                    height="20"
                    fill="currentColor"
                    class="bi bi-arrow-right read-more-text"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                    />
                  </svg>
                </span>
                <a
                  href="/study-in-usa/"
                  class="text-decoration-none read-more-text ps-2"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col bg-transparent">
            <div class="card h-100 border-0">
              <div class="d-flex justify-content-center">
                <img
                  src="/assets/images/home/country-03.jpg"
                  class="card-img-top res-img res-img"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <h5 class="text-center choose-title">Canada</h5>
                <p class="text-center custom-para">
                  Studying in the Canada quis nostrud exercitation ullamco
                  laboris
                </p>
              </div>
              <div class="card-footer border-0 bg-transparent text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-arrow-right read-more-text"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
                <a
                  href="/study-in-canada/"
                  class="text-decoration-none read-more-text"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col bg-transparent">
            <div class="card h-100 border-0 bg-transparent">
              <div class="d-flex justify-content-center">
                <img
                  src="/assets/images/home/country-02.jpg"
                  class="card-img-top res-img res-img"
                  alt="..."
                />
              </div>
              <div class="card-body bg-transparent">
                <h5 class="text-center choose-title">Australia</h5>
                <p class="text-center custom-para">
                  Studying in the Australia quis nostrud exercitation ullamco
                  laboris.
                </p>
              </div>
              <div class="card-footer border-0 bg-transparent text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-arrow-right read-more-text"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
                <a
                  href="/study-in-australia/"
                  class="text-decoration-none read-more-text"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col bg-transparent">
            <div class="card h-100 border-0">
              <div class="d-flex justify-content-center">
                <img
                  src="/assets/images/country-05.jpg"
                  class="card-img-top res-img res-img"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <h3 class="text-center choose-title">Malta</h3>
                <p class="text-center custom-para">
                  Studying in the Malta nostrud exercitation ullamco laboris
                </p>
              </div>
              <div class="card-footer border-0 bg-transparent text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-arrow-right read-more-text"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
                <a
                  href="/study-in-malta/"
                  class="text-decoration-none read-more-text"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col bg-transparent">
            <div class="card h-100 border-0">
              <div class="d-flex justify-content-center">
                <img
                  src="/assets/images/country-06.jpg"
                  class="card-img-top res-img res-img"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <h3 class="text-center choose-title">Dubai</h3>
                <p class="text-center custom-para">
                  Studying in the Dubai nostrud exercitation ullamco laboris
                </p>
              </div>
              <div class="card-footer border-0 bg-transparent text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-arrow-right read-more-text"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
                <a
                  href="/study-in-dubai/"
                  class="text-decoration-none read-more-text"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col bg-transparent">
            <div class="card h-100 border-0">
              <div class="d-flex justify-content-center">
                <img
                  src="/assets/images/country-07.jpg"
                  class="card-img-top res-img res-img"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <h3 class="text-center choose-title">Europe</h3>
                <p class="text-center custom-para">
                  Studying in the Europe quis nostrud exercitation ullamco
                  laboris
                </p>
              </div>
              <div class="card-footer border-0 bg-transparent text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-arrow-right read-more-text"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
                <a
                  href="/study-in-europe/"
                  class="text-decoration-none read-more-text"
                  >Read More</a
                >
              </div>
            </div>
          </div>
          <div class="col bg-transparent">
            <div class="card h-100 border-0">
              <div class="d-flex justify-content-center">
                <img
                  src="/assets/images/country-08.jpg"
                  class="card-img-top res-img res-img"
                  alt="..."
                />
              </div>
              <div class="card-body">
                <h3 class="text-center choose-title">Malaysia</h3>
                <p class="text-center custom-para">
                  Studying in the Malaysia nostrud exercitation ullamco laboris
                </p>
              </div>
              <div class="card-footer border-0 bg-transparent text-center">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20"
                  height="20"
                  fill="currentColor"
                  class="bi bi-arrow-right read-more-text"
                  viewBox="0 0 16 16"
                >
                  <path
                    fill-rule="evenodd"
                    d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"
                  />
                </svg>
                <a
                  href="/study-in-malaysia/"
                  class="text-decoration-none read-more-text"
                  >Read More</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer  -->
    <%- include('/_components/footer') %>

    <%- include("/_components/scripts") -%>
  </body>
</html>
