<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Photo-gallery - Skylane</title>
    <%- include("/_components/head-seo") -%>
    <!--  -->
    <%- include("/_components/styles") -%>
  </head>

  <body>
    <%- include("/_components/nav") -%>

    <!-- photo gallery banner  -->
    <div
      class="themestek-titlebar-wrapper themestek-bg themestek-bgcolor-transparent themestek-titlebar-align-allleft themestek-textcolor-white themestek-bgimage-yes"
    >
      <div
        class="themestek-titlebar-wrapper-bg-layer themestek-bg-layer"
      ></div>
      <div class="themestek-titlebar entry-header">
        <div class="themestek-titlebar-inner-wrapper">
          <div class="themestek-titlebar-main">
            <div class="container">
              <div class="themestek-titlebar-main-inner">
                <div class="entry-title-wrapper">
                  <div class="container">
                    <h1 class="entry-title text-white">Photo Gallery</h1>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
   <!-- gallery  -->
  <section id="gallery">
    <div class="container blog-content">
      <div class="row row-cols-1 row-cols-md-2 g-4 custom">
        <div class="col">
          <h4 class="custom-heading">PHOTO GALLERY</h4>
          <h2 class="custom-title">
            Photo Gallery of Skylane
            <br />
            <em class="custom-em"> Education Consultants</em>
          </h2>
        </div>
        <div class="col">
          <p class="custom-paragraph">
            We provide immigration service in all over country and
            universities. Sed semper sed tellus in ultrices. Nam hendrerit
            elit vel urna fermentum congue. Aenean varius euismod quam sed
            ultrices. Duis ac magna turpis.
          </p>
        </div>
      </div>
      <div
        class="row row-cols-1 row-cols-md-3 g-4 pt-5"
        style="margin-bottom: 80px"
      >
        <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
          <div class="card h-100 border-0">
            <div class="d-flex justify-content-center">          
            <img
              src="/assets/images/image11.jpg"
              class="card-img-top"
              alt="photo gallery 1"
            />
            </div>
            <div class="themestek-box-content">
              <div class="card-body">                
                <h5 class="blog-title">UK University Visit</h5>
                <p class="custom-para">
                    Presentation by Mrs. Karuna Ausman from the University of Waterloo
                </p>
              </div>
              
            </div>              
          </div>
        </div>
        <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
          <div class="card h-100 border-0">
            <div class="d-flex justify-content-center">
            <img
              src="/assets/images/image15.jpg"
              class="card-img-top"
              alt="photo gallery 2"
            />
            </div>
            <div class="themestek-box-content">                
              <div class="card-body">
                <h5 class="blog-title">Ways to immigrate</h5>
                <p class="custom-para">
                    Presentation by Mrs. Karuna Ausman from the University of Waterloo
                </p>
              </div>              
            </div>              
          </div>
        </div>
        <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
          <div class="card h-100 border-0">
            <div class="d-flex justify-content-center">            
              <img
                src="/assets/images/image18.jpg"
                class="card-img img-fluid"
                alt="photo gallery 3"
              />
            </div>
            <div class="themestek-box-content">
              <div class="card-body">
                <h2 class="blog-title">Independent Of Visa</h2>
                <p class="custom-para">
                    Presentation by Mrs. Karuna Ausman from the University of Waterloo
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0">
              <div class="d-flex justify-content-center">          
              <img
                src="/assets/images/image8.jpg"
                class="card-img-top"
                alt="photo gallery 4"
              />
              </div>
              <div class="themestek-box-content">
                <div class="card-body">                
                  <h5 class="blog-title">UK University Visit</h5>
                  <p class="custom-para">
                      Presentation by Mrs. Karuna Ausman from the University of Waterloo
                  </p>
                </div>
                
              </div>              
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0">
              <div class="d-flex justify-content-center">
              <img
                src="/assets/images/image5.jpg"
                class="card-img-top"
                alt="photo gallery 5"
              />
              </div>
              <div class="themestek-box-content">                
                <div class="card-body">
                  <h5 class="blog-title">Ways to immigrate</h5>
                  <p class="custom-para">
                      Presentation by Mrs. Karuna Ausman from the University of Waterloo
                  </p>
                </div>              
              </div>              
            </div>
          </div>
          <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
            <div class="card h-100 border-0">
              <div class="d-flex justify-content-center">            
                <img
                  src="/assets/images/image19.jpg"
                  class="card-img img-fluid"
                  alt="photo gallery 6"
                />
              </div>
              <div class="themestek-box-content">
                <div class="card-body">
                  <h2 class="blog-title">Independent Of Visa</h2>
                  <p class="custom-para">
                      Presentation by Mrs. Karuna Ausman from the University of Waterloo
                  </p>
                </div>
              </div>
            </div>
          </div>
      </div>
      
    </div>
  </section>
    <!-- footer  -->
    <%- include('/_components/footer') %>

    <%- include("/_components/scripts") -%>
  </body>
</html>

