<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>FAQ - SkyLane</title>
    <%- include("/_components/head-seo") -%>
    <!--  -->
    <%- include("/_components/styles") -%>
  </head>

  <body>
    <%- include("/_components/nav") -%>

    <!-- faq banner  -->
    <div class="titlebar-wrapper">
      <div class="titlebar-wrapper-header">
        <div class="container">
          <h1 class="text-white">Faq</h1>
        </div>
      </div>
    </div>

    <!-- gallery  -->
    <section id="gallery">
      <div class="container blog-content">
        <div class="row row-cols-1 row-cols-md-2 g-4 custom">
          <div class="col">
            <h4 class="custom-heading">FAQs</h4>
            <h2 class="custom-title">
              Frequently Asked
              <br />
              <em class="custom-em"> Questions</em>
            </h2>
          </div>
          <div class="col">
            <p class="custom-paragraph">
              We provide immigration service in all over country and
              universities. Sed semper sed tellus in ultrices. Nam hendrerit
              elit vel urna fermentum congue. Aenean varius euismod quam sed
              ultrices. Duis ac magna turpis.
            </p>
          </div>
        </div>
        <div
          class="row row-cols-1 row-cols-md-2 g-4 pt-5"
          style="margin-bottom: 80px"
        >
          <div class="col-md-8">
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseOne"
                    aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne"
                  >
                    What are the benefits of education counseling?
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseOne"
                  class="accordion-collapse collapse show"
                >
                  <div class="accordion-body pe-md-5 ps-md-5">
                    <p class="custom-para">
                      It assists you in discovering your strengths and
                      potential, and guides you towards the best succeeding
                      possibility.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseTwo"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseTwo"
                  >
                    What's the average cost to study abroad?
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseTwo"
                  class="accordion-collapse collapse"
                >
                  <div class="accordion-body pe-md-5 ps-md-5">
                    <p class="custom-para">
                      This depends on the country and university you’re applying
                      to. We encourage you to get in touch with our counselors
                      for more details.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseThree"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree"
                  >
                    Are there counseling fees?
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseThree"
                  class="accordion-collapse collapse"
                >
                  <div class="accordion-body pe-md-5 ps-md-5">
                    <p class="custom-para">
                      No. We provide our counseling services free of any charge.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseFour"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseFour"
                  >
                    How long does the application process take?
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseFour"
                  class="accordion-collapse collapse"
                >
                  <div class="accordion-body pe-md-5 ps-md-5">
                    <p class="custom-para">
                      We recommend you begin your application process at least a
                      year in advance to give enough time for your applications
                      to be processed and to prepare for your time overseas.
                      Please bear in mind that the academic year begins at
                      different times of year in different countries.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseFive"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseFive"
                  >
                    Can I work and study at the same time?
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseFive"
                  class="accordion-collapse collapse"
                >
                  <div class="accordion-body pe-md-5 ps-md-5">
                    <p class="custom-para">
                      You may be permitted to work while on an international
                      student visa. Before you undertake any paid work, you need
                      to make sure that your visa allows it.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseSix"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseSix"
                  >
                    I have a study gap, can I still apply to study abroad?
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseSix"
                  class="accordion-collapse collapse"
                >
                  <div class="accordion-body pe-md-5 ps-md-5">
                    <p class="custom-para">
                      Yes, but this solely depends on the university’s standards
                      you’re applying to. We recommend you get in touch with our
                      counselors to find out more about your case.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseSeven"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseSeven"
                  >
                    I have poor CGPA, can I be eligible for a scholarship?
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseSeven"
                  class="accordion-collapse collapse"
                >
                  <div class="accordion-body pe-md-5 ps-md-5">
                    <p class="custom-para">
                      Yes. However, this varies depending on the subject and
                      university.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapseeight"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseeight"
                  >
                    Is health insurance mandatory for international students?
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapseeight"
                  class="accordion-collapse collapse"
                >
                  <div class="accordion-body pe-md-5 ps-md-5">
                    <p class="custom-para">
                      Obtaining health insurance is critical for an overseas
                      student. Getting one is always preferable.
                    </p>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button
                    class="accordion-button collapsed"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#panelsStayOpen-collapsenine"
                    aria-expanded="false"
                    aria-controls="panelsStayOpen-collapsenine"
                  >
                    Is there any pre-departure training offered by SkyLane Study
                    Abroad?
                  </button>
                </h2>
                <div
                  id="panelsStayOpen-collapsenine"
                  class="accordion-collapse collapse"
                >
                  <div class="accordion-body pe-md-5 ps-md-5">
                    <p class="custom-para">
                      Yes. SkyLane Study Abroad hosts a pre-departure program to
                      help students ensure that they are properly educated and
                      equipped before flying internationally.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card h-100 border-0">
              <div class="d-flex justify-content-center">
                <img
                  src="/assets/images/faq-img.png"
                  class="card-img-top"
                  alt="photo gallery 1"
                />
              </div>
              <div class="themestek-box-content">
                <div class="card-body">
                  <h5 class="blog-title">Have specific questions?</h5>
                  <p class="custom-para">
                    Please feel free to get in touch with our counselors for a
                    more elaborate experience.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer  -->
    <%- include('/_components/footer') %> <%- include("/_components/scripts")
    -%>
  </body>
</html>
