<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Contact Us - SkyLane</title>
  <%- include("/_components/head-seo") -%>
    <!--  -->
    <%- include("/_components/styles") -%>
</head>

<body>
  <%- include("/_components/nav") -%>

    <!-- contct us banner  -->
    <div id="contact-us" class="titlebar-wrapper" style="
    background-image: linear-gradient(
        rgb(2, 115, 154, 0.6),
        rgb(86, 198, 208, 0.5)
      ),
      url('/assets/images/contact-banner.jpg');
  ">
      <div class="titlebar-wrapper-header">
        <div class="container">
          <h1 class="text-white text-center black-italic">Contact us</h1>
        </div>
      </div>
    </div>
    <!-- information -->
    <section id="information">
      <div class="container pt-5 pb-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card d-flex align-items-center p-3 border-0 h-100" style="background: #f5f8fb !important">
              <div class="rounded-circle p-3" style="background: #56c6d0">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                    class="bi bi-geo-alt text-white" viewBox="0 0 16 16">
                    <path
                      d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                  </svg>
                </span>
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">Dhaka Branch</h5>
                <p class="card-text text-center">
                  3rd Floor, Rahima Tower, Ga-99/5 Pragati Sarani, Gulshan-Badda
                  Link Road, Dhaka-1212.
                </p>
                <p class="text-center">
                  +880 1777-532727, +8809611-677635</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card d-flex align-items-center p-3 border-0 h-100" style="background: #f5f8fb !important">
              <div class="rounded-circle p-3" style="background: #56c6d0">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                    class="bi bi-geo-alt text-white" viewBox="0 0 16 16">
                    <path
                      d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                  </svg>
                </span>
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">Narayanganj Branch</h5>
                <p class="card-text text-center">
                  3rd Floor, Sahera Zaman Emporium Balur Math, (Near Islam Heart
                  Centre) Narayanganj-1400
                </p>
                <p class="text-center">+880 1789-824000, +8809611-677285</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card d-flex align-items-center p-3 border-0 h-100" style="background: #f5f8fb !important">
              <div class="rounded-circle p-3" style="background: #56c6d0">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                    class="bi bi-geo-alt text-white" viewBox="0 0 16 16">
                    <path
                      d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A31.493 31.493 0 0 1 8 14.58a31.481 31.481 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94zM8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10z" />
                    <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4zm0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                  </svg>
                </span>
              </div>
              <div class="card-body">
                <h5 class="card-title text-center">UK Branch</h5>
                <p class="card-text text-center">
                  Unit-6, 54-56 Dover Road East, Gravesend, Kent DA11 0RG,<br>London, UK
                </p>
                <p class="text-center">+4401474-649047, +44 7438 351919</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- contact form -->
    <section id="contact-form">
      <div class="container pt-5 pb-5">
        <div class="row">
          <div class="col-md-6" id="map">
            <div class="google-map">
              <iframe src="https://www.google.com/maps/d/embed?mid=1TViz5c8Likw3L_nvWo0JhqnLDGFchFI&ehbc=2E312F"
                width="100%" height="487" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
            </div>
          </div>
          <div class="col-md-6" id="contact">
            <h4 class="custom-heading">Contact Us</h4>
            <h2 class="custom-title pb-2">
              Get in <em class="custom-em">touch</em>
            </h2>
            <form action="../forms/contact-us.php" method="post" class="booking-form">
              <div class="row pt-3">
                <div class="col-md-6">
                  <div class="input-group">
                    <p>
                      <span class="wpcf7-form-control-wrap" data-name="your-name"><input size="100"
                          class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Name" value=""
                          type="text" name="name" required /></span>
                    </p>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="input-group">
                    <p>
                      <span class="wpcf7-form-control-wrap" data-name="phone"><input size="100"
                          class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Phone" value=""
                          type="text" name="phone" required /></span>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="input-group">
                    <p>
                      <span class="wpcf7-form-control-wrap" data-name="your-email"><input size="100"
                          class="wpcf7-form-control wpcf7-text" aria-invalid="false" placeholder="Email" value=""
                          type="email" name="email" required /></span>
                    </p>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="input-group input-button">
                    <p>
                      <span class="wpcf7-form-control-wrap" data-name="message">
                        <textarea cols="200" rows="4" class="wpcf7-form-control wpcf7-textarea" aria-invalid="false"
                          type="text" placeholder="Message" name="message" required></textarea>
                      </span>
                    </p>
                  </div>
                </div>
                <div class="col-12 pt-3">
                  <button role="button" type="submit" class="btn-about px-5 text-center border-0">Book a free
                    consultancy</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- footer  -->
    <%- include('/_components/footer') %> <%- include("/_components/scripts") -%>
</body>

</html>