<div class="list-group d-md-block d-none" id="list-tab" role="tablist">
  <a
    class="list-group-item list-group-item-action p-3 <%= ejsFileDir === "/study-abroad/study-in-uk/" ? "active" : "" %>"
    id="list-home-list"
    data-bs-toggle="lis"
    href="/study-abroad/study-in-uk/"
    role="tab"
    aria-controls="list-home"
    >Study in UK</a
  >
  <a
    class="list-group-item list-group-item-action p-3 <%= ejsFileDir === "/study-abroad/study-in-usa/" ? "active" : "" %>"
    id="list-profile-list"
    data-bs-toggle="lis"
    href="/study-abroad/study-in-usa/"
    role="tab"
    aria-controls="list-profile"
    >Study in USA</a
  >
  <a
    class="list-group-item list-group-item-action p-3 <%= ejsFileDir === "/study-abroad/study-in-canada/" ? "active" : "" %>"
    id="list-messages-list"
    data-bs-toggle="lis"
    href="/study-abroad/study-in-canada/"
    role="tab"
    aria-controls="list-messages"
    >Study in Canada</a
  >
  <a
    class="list-group-item list-group-item-action p-3 <%= ejsFileDir === "/study-abroad/study-in-australia/" ? "active" : "" %>"
    id="list-settings-list"
    data-bs-toggle="lis"
    href="/study-abroad/study-in-australia/"
    role="tab"
    aria-controls="list-settings"
    >Study in Australia</a
  >
  <a
    class="list-group-item list-group-item-action p-3 <%= ejsFileDir === "/study-abroad/study-in-malta/" ? "active" : "" %>"
    id="list-departure-list"
    data-bs-toggle="lis"
    href="/study-abroad/study-in-malta/"
    role="tab"
    aria-controls="list-departures"
    >Study in Malta</a
  >
  <a
    class="list-group-item list-group-item-action p-3 <%= ejsFileDir === "/study-abroad/study-in-dubai/" ? "active" : "" %>"
    id="list-guardian-list"
    data-bs-toggle="lis"
    href="/study-abroad/study-in-dubai/"
    role="tab"
    aria-controls="list-guardians"
    >Study in Dubai</a
  >
  <a
    class="list-group-item list-group-item-action p-3 <%= ejsFileDir === "/study-abroad/study-in-europe/" ? "active" : "" %>"
    id="list-guardian-list"
    data-bs-toggle="lis"
    href="/study-abroad/study-in-europe/"
    role="tab"
    aria-controls="list-guardians"
    >Study in Europe</a
  >
  <a
    class="list-group-item list-group-item-action p-3 <%= ejsFileDir === "/study-abroad/study-in-malaysia/" ? "active" : "" %>"
    id="list-guardian-list"
    data-bs-toggle="lis"
    href="/study-abroad/study-in-malaysia/"
    role="tab"
    aria-controls="list-guardians"
    >Study in Malaysia</a
  >
</div>
<div class="list-group d-md-none d-flex" id="list-tab" role="tablist">
  <a
    class="list-group-item list-group-item-action <%= ejsFileDir === "/study-abroad/study-in-uk/" ? "active" : "" %>"
    id="list-home-list"
    data-bs-toggle="lis"
    href="/study-abroad/study-in-uk/"
    role="tab"
    aria-controls="list-home"
    >UK</a
  >
  <a
    class="list-group-item list-group-item-action <%= ejsFileDir === "/study-abroad/study-in-usa/" ? "active" : "" %>"
    id="list-profile-list"
    data-bs-toggle="lis"
    href="/study-abroad/study-in-usa/"
    role="tab"
    aria-controls="list-profile"
    >USA</a
  >
  <a
    class="list-group-item list-group-item-action <%= ejsFileDir === "/study-abroad/study-in-canada/" ? "active" : "" %>"
    id="list-messages-list"
    data-bs-toggle="lis"
    href="/study-abroad/study-in-canada/"
    role="tab"
    aria-controls="list-messages"
    >Canada</a
  >
  <a
    class="list-group-item list-group-item-action <%= ejsFileDir === "/study-abroad/study-in-australia/" ? "active" : "" %>"
    id="list-settings-list"
    data-bs-toggle="lis"
    href="/study-abroad/study-in-australia/"
    role="tab"
    aria-controls="list-settings"
    >Australia</a
  >
</div>
<div class="list-group d-md-none d-flex" id="list-tab" role="tablist">
  <a
    class="list-group-item list-group-item-action <%= ejsFileDir === "/study-abroad/study-in-malta/" ? "active" : "" %>"
    id="list-departure-list"
    data-bs-toggle="lis"
    href="/study-abroad/study-in-malta/"
    role="tab"
    aria-controls="list-departures"
    >Malta</a
  >
  <a
    class="list-group-item list-group-item-action <%= ejsFileDir === "/study-abroad/study-in-dubai/" ? "active" : "" %>"
    id="list-guardian-list"
    data-bs-toggle="lis"
    href="/study-abroad/study-in-dubai/"
    role="tab"
    aria-controls="list-guardians"
    >Dubai</a
  >
  <a
    class="list-group-item list-group-item-action <%= ejsFileDir === "/study-abroad/study-in-europe/" ? "active" : "" %>"
    id="list-guardian-list"
    data-bs-toggle="lis"
    href="/study-abroad/study-in-europe/"
    role="tab"
    aria-controls="list-guardians"
    >Europe</a
  >
  <a
    class="list-group-item list-group-item-action <%= ejsFileDir === "/study-abroad/study-in-malaysia/" ? "active" : "" %>"
    id="list-guardian-list"
    data-bs-toggle="lis"
    href="/study-abroad/study-in-malaysia/"
    role="tab"
    aria-controls="list-guardians"
    >Malaysia</a
  >
</div>
