<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Scholarship Assistance - SkyLane</title>
    <%- include("/_components/head-seo") -%>
    <!--  -->
    <%- include("/_components/styles") -%>
    <link rel="stylesheet" href="/assets/css/study.css" />
  </head>

  <body>
    <%- include("/_components/nav") -%>

    <!-- scholarship banner  -->
    <div class="titlebar-wrapper">
      <div class="titlebar-wrapper-header">
        <div class="container">
          <h1 class="text-white">Scholarship Assistance</h1>
        </div>
      </div>
    </div>

    <%- include('/_components/footer') %> <%- include("/_components/scripts")
    -%>
  </body>
</html>