<!DOCTYPE html>
<html lang="en">

<head>
  <title>Success Stories - SkyLane</title>
  <%- include("/_components/head-seo") -%>
  <!--  -->
  <%- include("/_components/styles") -%>
  <link rel="stylesheet" href="/assets/css/about.css" />
</head>

<body>
  <%- include("/_components/nav") -%>

  <!-- success stories banner  -->
  <div class="titlebar-wrapper" style="
        background-image: linear-gradient(
            rgb(2, 115, 154, 0.6),
            rgb(86, 198, 208, 0.5)
          ),
          url('/<%= db.successstories_banner.imgSrc %>');
        background-position: top center;
      ">
    <div class="titlebar-wrapper-header">
      <div class="container">
        <h1 class="text-white text-center black-italic"><%= db.successstories_banner.bannerTitle %></h1>
      </div>
    </div>
  </div>

  <!-- success  -->
  <section id="success" style="background: #fbfbfb">
    <div class="container pt-5 pb-5">
      <h2 class="custom-title text-center">
        Total Success Stories of
        <em class="custom-em"> SkyLane Education</em>
      </h2>
    </div>
    <div class="wrapper container pb-5">
      <div class="num_container d-flex align-items-center">
        <div class="d-flex align-items-center">
          <span class="num text-dark" data-val="15">15</span>
          <h2 class="text-center text-dark">+</h2>
        </div>
        <p class="text text-dark">Countries</p>
      </div>
      <div class="vr text-dark"></div>
      <div class="num_container d-flex align-items-center">
        <div class="d-flex align-items-center">
          <span class="num text-dark" data-val="200">200</span>
          <h2 class="text-center text-dark">+</h2>
        </div>
        <p class="text text-dark">Universities</p>
      </div>
      <div class="vr text-dark d-none d-md-flex"></div>
      <div class="num_container d-flex align-items-center">
        <div class="d-flex align-items-center">
          <span class="num text-dark" data-val="600">600</span>
          <h2 class="text-center text-dark">+</h2>
        </div>
        <p class="text text-dark">Courses</p>

      </div>
      <div class="vr text-dark"></div>
      <div class="num_container d-flex align-items-center">
        <div class="d-flex align-items-center">
          <span class="num text-dark" data-val="3">3</span>
          <h2 class="text-center text-dark">+</h2>
        </div>
        <p class="text text-dark">Years of Success</p>
      </div>
    </div>
  </section>
  <!-- stories -->
  <section id="stories" style="background: #fbfbfb">
    <div class="container blog-content">
      <div class="row row-cols-1 row-cols-md-2 g-4 custom">
        <div class="col">
          <h4 class="custom-heading text-uppercase"><%= db.successstories_content.title %></h4>
          <h2 class="custom-title">
            Meet the successful students
            <br />
            <em class="custom-em"> of SkyLane Education</em>
          </h2>
        </div>
        <div class="col">
          <p class="custom-paragraph">
            <%= db.successstories_content.text %>
          </p>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-4 g-4 pt-5 d-none">
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <iframe src="https://www.youtube.com/embed/Ret9M53s1Ag" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-gtm-yt-inspected-4="true" width="100%" height="195" frameborder="0"></iframe>
            <div class="card-body text-center">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <iframe src="https://www.youtube.com/embed/Ret9M53s1Ag" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-gtm-yt-inspected-4="true" width="100%" height="195" frameborder="0"></iframe>
            <div class="card-body text-center">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <iframe src="https://www.youtube.com/embed/Ret9M53s1Ag" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-gtm-yt-inspected-4="true" width="100%" height="195" frameborder="0"></iframe>
            <div class="card-body text-center">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <iframe src="https://www.youtube.com/embed/Ret9M53s1Ag" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-gtm-yt-inspected-4="true" width="100%" height="195" frameborder="0"></iframe>
            <div class="card-body text-center">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <iframe src="https://www.youtube.com/embed/Ret9M53s1Ag" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-gtm-yt-inspected-4="true" width="100%" height="195" frameborder="0"></iframe>
            <div class="card-body text-center">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <iframe src="https://www.youtube.com/embed/Ret9M53s1Ag" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-gtm-yt-inspected-4="true" width="100%" height="195" frameborder="0"></iframe>
            <div class="card-body text-center">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-4 g-4 pt-5">
        <% db.successstories_details.forEach(stories => { %>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <img src="/<%= stories.imgSrc %>" alt="stories">
            <div class="card-body text-center d-none">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <% }) %>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <img src="../assets/images/success-stories/102.jpg" alt="102">

            <div class="card-body text-center d-none">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <img src="../assets/images/success-stories/103.jpg" alt="103">

            <div class="card-body text-center d-none">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <img src="../assets/images/success-stories/103.jpg" alt="104">

            <div class="card-body text-center d-none">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <img src="../assets/images/success-stories/105.jpg" alt="105">

            <div class="card-body text-center d-none">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <img src="../assets/images/success-stories/106.jpg" alt="106">

            <div class="card-body text-center d-none">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <img src="../assets/images/success-stories/107.jpg" alt="107">

            <div class="card-body text-center d-none">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <img src="../assets/images/success-stories/108.jpg" alt="108">

            <div class="card-body text-center d-none">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <img src="../assets/images/success-stories/109.jpg" alt="109">

            <div class="card-body text-center d-none">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <img src="../assets/images/success-stories/110.jpg" alt="110">

            <div class="card-body text-center d-none">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <img src="../assets/images/success-stories/111.jpg" alt="111">

            <div class="card-body text-center d-none">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <img src="../assets/images/success-stories/112.jpg" alt="112">

            <div class="card-body text-center d-none">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <img src="../assets/images/success-stories/113.jpg" alt="113">

            <div class="card-body text-center d-none">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <img src="../assets/images/success-stories/114.jpg" alt="114">

            <div class="card-body text-center d-none">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <img src="../assets/images/success-stories/115.jpg" alt="115">

            <div class="card-body text-center d-none">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <img src="../assets/images/success-stories/116.jpg" alt="116">

            <div class="card-body text-center d-none">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <img src="../assets/images/success-stories/117.jpg" alt="117">

            <div class="card-body text-center d-none">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <img src="../assets/images/success-stories/118.jpg" alt="118">

            <div class="card-body text-center d-none">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
        <div class="col pe-4 ps-4 pe-md-3 ps-md-3">
          <div class="card category-item border-0 mb-5 shadow-sm">
            <img src="../assets/images/success-stories/119.jpg" alt="119">

            <div class="card-body text-center d-none">
              <p class="card-text">
                Student visa success of Canada without IELTS | Successfully
                achieved CAD 21,000 scholarship
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- footer  -->
  <%- include('/_components/footer') %> <%- include("/_components/scripts")
    -%>
</body>

</html>