<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Study in USA - SkyLane</title>
    <%- include("/_components/head-seo") -%>
    <!--  -->
    <%- include("/_components/styles") -%>
    <link rel="stylesheet" href="/assets/css/slick.min.css" />
    <link rel="stylesheet" href="/assets/css/slick-theme.min.css" />
    <link rel="stylesheet" href="/assets/css/study.css" />
  </head>

  <body>
    <%- include("/_components/nav") -%>

    <!-- study in uk banner  -->
    <div
    class="titlebar-wrapper"
    style="
      background-image: linear-gradient(
          rgb(2, 115, 154, 0.6),
          rgb(86, 198, 208, 0.5)
        ),
        url('../../assets/images/country-banner/usa ribbon-min.jpg');
    "
  >
    <div class="titlebar-wrapper-header">
      <div class="container">
        <h1 class="text-white text-center fst-italic">Study in United States of America</h1>
      </div>
    </div>
  </div>

    <!-- what do we do -->
    <section class="pt-5 pb-5">
      <div class="container pt-5 pb-5">
        <div class="row">
          <div class="col-md-4">
            <h2 class="custom-title pb-5">
              Study In
              <em class="custom-em">USA</em>
            </h2>
          </div>
          <div class="col-md-8">
            <p class="custom-para">
              Want to study in USA from Bangladesh with scholarship, with or
              without IELTS at top universities? Skylane Education is here to
              facilitate your goals of attending university by providing you
              with first-rate direction and unrivaled assistance through the
              British Council Trained Agent Consultants.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-12">
            <%- include('/_components/study-abroad/country-list-group') %>
            <!-- at a glance  -->
            <div class="pt-5 pb-5">
              <div style="background-color: #02739a !important" class="p-4">
                <h3 class="text-white fw-blod text-center">
                  USA - at a Glance
                </h3>
              </div>
              <div class="pe-4 ps-4" style="background: #f5f8fb !important">
                <p class="custom-para pt-3">
                  There are lot of benefits of studying in USA.
                </p>
                <ul class="list pb-5">
                  <li class="list-group-item border-0 custom-para">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                        />
                      </svg>
                    </span>
                    Academic Excellence 
                  </li>
                  <li class="list-group-item border-0 custom-para">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                        />
                      </svg>
                    </span>
                    Value-Added Learning 
                  </li>
                  <li class="list-group-item border-0 custom-para">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                        />
                      </svg>
                    </span>
                    Distinctiveness and Variation 
                  </li>
                  <li class="list-group-item border-0 custom-para">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                        />
                      </svg>
                    </span>
                    Excellent job possibilities 
                  </li>              
                  <li class="list-group-item border-0 custom-para">
                    <span
                      ><svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="16"
                        height="16"
                        fill="currentColor"
                        class="bi bi-star-fill"
                        viewBox="0 0 16 16"
                      >
                        <path
                          d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"
                        /></svg
                    ></span>
                    Hone your English abilities 
                  </li>
                </ul>
              </div>
            </div>
            <!-- form  -->
            <%- include("/_components/study-abroad/form.ejs") %>

          </div>
          <div class="col-md-8 col-12">
            <div class="tab-content" id="nav-tabContent">
              <div
                class="tab-pane fade show active"
                id="list-home"
                role="tabpanel"
                aria-labelledby="list-home-list"
              >
                <img
                  src="/assets/images/home/country-01.jpg"
                  alt="study in usa"
                  class="img-fluid"
                />
                <div class="accordion pt-3" id="accordionPanelsStayOpenExample">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseOne"
                        aria-expanded="true"
                        aria-controls="panelsStayOpen-collapseOne"
                      >
                        Why Study in USA ?
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseOne"
                      class="accordion-collapse collapse show"
                    >
                      <div class="accordion-body pe-md-5 ps-md-5">
                        <p class="custom-para">
                          You can gain more than paper credentials from
                          universities in the United States and overseas. The
                          United States of America is a desirable destination
                          for international students for many reasons, including
                          its highly regarded higher education system, its many
                          unique cities and stunning natural parks, its rich
                          cultural heritage, and its diverse and welcoming
                          populace.
                        </p>
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Academic Excellence
                        </p>
                        <p class="custom-para">
                          When it comes to higher education, the United States
                          ranks among the world's best. In terms of
                          international students, the United States' university
                          system is by far the most sought-after option. More
                          than 30% (or half a million) of all international
                          students chose the United States as their study-abroad
                          destination each year. The United States is home to 13
                          of the world's top 20 universities, per the QS World
                          University Rankings.
                        </p>

                        <p class="custom-para fw-bold" style="color: #02739a">
                          Value-Added Learning
                        </p>
                        <p class="custom-para">
                          The number of universities in the United States is
                          unparalleled worldwide. Education provided by the many
                          scholarly organizations is of the highest possible
                          standard. The research conducted here is of the
                          highest calibre, and the resources at your disposal
                          for commercializing your findings are second to none.
                          Many of these institutions do ground breaking research
                          that is widely disseminated through international
                          journals. Universities in the United States have long
                          played a pivotal role in driving innovation and social
                          progress in the country.
                        </p>

                        <p class="fw-bold custom-para" style="color: #02739a">
                          Distinctiveness and Variation
                        </p>
                        <p class="custom-para">
                          The United States is a land with many choices. There
                          is a plethora of educational options, including
                          various schools, majors, and advanced degrees.
                          Studying business is not limited to a single track;
                          rather, students interested in the field might
                          specialize in areas including accounting, marketing,
                          international business, business management, business
                          administration, or finance. Many more examples exist.
                          This field of study can be pursued at the bachelor's,
                          master's, and doctoral levels.
                        </p>
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Excellent job possibilities
                        </p>
                        <p class="custom-para">
                          After graduating, you'll have a year's worth of work
                          authorization in your field in the United States. A
                          Form I-765, Application for Employment Authorization
                          during Optional Practical Training, is Required.
                          Typically, during their OPT year, overseas students
                          are fully integrated into the organization that hired
                          them by financing their H1-B or work visa. Employers
                          typically sponsor H1-B work visas for foreign
                          nationals whom they want to hire in specialty
                          occupations such as software development, engineering,
                          accounting, teaching, and marketing. Once your company
                          has approved your H1-B visa, you will be able to stay
                          and work in the United States indefinitely.
                        </p>
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Hone your English abilities
                        </p>
                        <p class="custom-para">
                          The majority of students who study abroad do so in
                          order to learn English or to improve their command of
                          the language. Certainly, being immersed in the English
                          language and utilizing it regularly can be a wonderful
                          and simple approach to developing one's language
                          skills. If you want to further your career, you need
                          to be fluent in English because that's the language of
                          business.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseTwo"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseTwo"
                      >
                        Documents Required
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseTwo"
                      class="accordion-collapse collapse"
                    >
                      <div class="accordion-body pe-md-5 ps-md-5">
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Documents required for University Application:
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Passport
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Updated CV. Contact us to get your CV created for
                          free.
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Scan copies (original) of all educational Transcripts
                          and Certificates.
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Scan copies (original) of Two Academic Reference
                          Letters of last education.
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Statement of Purpose (SOP). Contact us to get your
                          free SOP.
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Scan copy (original) of English Proficiency
                          certificate (IELTS/ OIETC/ DUOLINGO /MOI).
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Work experience letter/ Medical Documents (If required
                          / Study Gap Explanation).
                        </p>

                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Other supporting documents (if available, e.g
                          Extracurricular activities)
                        </p>
                        <p class="custom-para">
                          Please note that when preparing your application, it's
                          essential to follow the specific instructions provided
                          by the university you are applying to. The document
                          requirements may vary between institutions and
                          programs.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseThree"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseThree"
                      >
                        Application Details and Requirements
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseThree"
                      class="accordion-collapse collapse"
                    >
                      <div class="accordion-body pe-md-5 ps-md-5">
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Intakes
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Spring
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Summer
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Fall
                        </p>
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Language Requirement: English
                        </p>
                        <!-- table -->
                        <div class="table-responsive">
                          <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th scope="col">Qualification</th>
                                <th scope="col">IELTS</th>
                                <th scope="col">TOFEL</th>
                                <th scope="col">Duolingo</th>
                                <th scope="col">PTE</th>
                              </tr>
                            </thead>
                            <tbody class="table-group-divider">
                              <tr>
                                <th>Undergraduate</th>
                                <td>5.5/5.0</td>
                                <td>46-61</td>
                                <td>90-115</td>
                                <td>42-58</td>
                              </tr>
                              <tr>
                                <th>Graduate</th>
                                <td>6.5/6.0</td>
                                <td>73-79</td>
                                <td>110-120</td>
                                <td>50-64</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Academic Requirement
                        </p>
                        <p class="fw-bold custom-para">Graduation - Bachelor</p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          HSC 3.5 or above
                        </p>
                        <p class="fw-bold custom-para">GED 65%</p>
                        <p class="fw-bold custom-para">
                          Post-Graduation- Master
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Bachelors 2.75 or above
                        </p>

                        <p class="custom-para">
                          Different universities have different admittance
                          requirements because they each set them independently.
                          Applications are typically evaluated based on the
                          applicant's most recent level of qualification.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFour"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFour"
                      >
                      Visa Application and Living Costs
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseFour"
                      class="accordion-collapse collapse"
                    >
                      <div class="accordion-body pe-md-5 ps-md-5">                        
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Funds to be shown:
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          UG - $35000 - $40000
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          PG - $22000 - $25000
                        </p>
                        <p class="fw-bold custom-para" style="color: #02739a">
                          Visa Application Fees
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          The US visa application Bangladesh fee for students is now $160
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
SEVIS fee- $350 for F and M category student visas. For the J category, the SEVIS fee is $220
                        </p>
                        <p class="fw-bold custom-para">
                          Living Expenses:
                          <span class="custom-para">
                            Estimated at £500 - £1000 (per month).
                          </span>
                        </p>
                        <p class="fw-bold custom-para">
                          Acceptable Funds:
                          <span class="custom-para">
                            Bank balance in Savings Account, FDR Account (listed
                            Bank only).</span
                          >
                        </p>

                        <p class="fw-bold custom-para" style="color: #02739a">
                          Visa processing times for Bangladesh
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          7 Working Days (Premium) to 20 Working Days (Normal)
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseFive"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseFive"
                      >
                        Scholarship details
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseFive"
                      class="accordion-collapse collapse"
                    >
                      <div class="accordion-body pe-md-5 ps-md-5">
                        <p class="fw-bold custom-para">
                          UG- $5000 - $15000(Yearly)
                        </p>
                        <p class="fw-bold custom-para">
                          PG- $1500 - $5000(Yearly)
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#panelsStayOpen-collapseSix"
                        aria-expanded="false"
                        aria-controls="panelsStayOpen-collapseSix"
                      >
                        Frequently Asked Questions
                      </button>
                    </h2>
                    <div
                      id="panelsStayOpen-collapseSix"
                      class="accordion-collapse collapse"
                    >
                      <div class="accordion-body pe-md-5 ps-md-5">                        
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Can students work during their studies in the US?
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          What are the accommodation options available in the US?
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Which English language tests are accepted by American institutions?
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          How many months of bank statement is needed for a US student visa?
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Is IELTS required for an F1 visa?
                        </p>
                        <p class="custom-para">
                          <span>
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="16"
                              height="16"
                              fill="currentColor"
                              class="bi bi-caret-right-fill"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"
                              />
                            </svg>
                          </span>
                          Is an interview compulsory for a USA student visa?
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- university logo  -->
    <section id="partners">
      <div class="container  pt-5">
        <h4 class="custom-heading">OUR PARTNERS</h4>
        <h2 class="custom-title">
          Affiliated Groups &
          <em class="custom-em">Universities</em>
        </h2>

        <div class="align-items-center text-center pt-5 pb-5 univ row">
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-25"
                src="/assets/images/home/gbs-logo.png"
                alt="gbs logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/home/wrexham-university-logo.png"
                alt="wrexham university logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/home/arden-online-logo.png"
                alt="arden online logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/home/study-group.png"
                alt="study group"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/wright-logo.png"
                alt="wright logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/kent-logo.png"
                alt="kent logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/tarleton-logo.png"
                alt="tarleton logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/manitoba-logo.png"
                alt="manitoba logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/waterloo-logo.png"
                alt="waterloo logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/torontomet-logo.png"
                alt="torontomet logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/saskatchewan-logo.png"
                alt="saskatchewan logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/winnipeg-logo.png"
                alt="rwinnipeg logo"
              />
            </div>
          </div>
          <div class="col-md-3 col-sm-3 col-1">
            <div class="d-flex justify-content-center">
              <img
                class="img-fluid w-50"
                src="/assets/images/universities/upei-logo.png"
                alt="upei logo"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- footer  -->
    <%- include('/_components/footer') %> <%- include("/_components/scripts")
    -%>
    <script type="text/javascript" src="/assets/js/slick.min.js"></script>
  </body>
</html>
