<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="theme-color" content="#000000" />
  <title>Home - SkyLane</title>
  <%- include("/_components/head-seo") -%>
  <!--  -->
  <link rel="stylesheet" href="/assets/css/slick.min.css" />
  <link rel="stylesheet" href="/assets/css/slick-theme.min.css" />
  <%- include("/_components/styles") -%>

  <!-- rs  -->
  <link rel="stylesheet" id="rs-plugin-settings-css" href="/assets/css/rs6.css" media="all" />
</head>

<body>
  <noscript>You need to enable JavaScript to run this site.</noscript>

  <%- include("/_components/nav") -%>
  <%- include("./_components/home/rev-slider.ejs") -%>

  <div class="slider d-md-none d-block">
    <% db.home_sliders.forEach(slider => { %>
    <div>
      <div class="position-relative">
        <img class="img-fluid vh-50 object-fit-cover" src="<%= slider.imgSrc %>" alt="slider 01">
        <div class="position-absolute top-0 bottom-0 start-0 end-0">
        </div>
        <div class="position-absolute top-0 bottom-0 start-0 end-0 d-flex flex-column justify-content-center  px-5">
          <h6 class="text-light"><%= slider.title %> </h6>
          <h4 class="text-light"><%= slider.text %></h4>
          <h2 class="text-light fw-blod"><%= slider.subtext %></h2>
          <a href="/universities-we-represent/country?country=uk" class="text-light text-decoration-none">
            <span class="border border-light rounded-circle p-2 me-2">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-chevron-right text-white" viewBox="0 0 16 16" data-stylerecorder="true" style="text-align: center; line-height: 44px; letter-spacing: 0px; font-weight: 400; font-size: 20px; margin-top: -4px;">
                <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" data-stylerecorder="true" style="text-align: center; line-height: 44px; letter-spacing: 0px; font-weight: 400; font-size: 20px;"></path>
              </svg>
            </span>
            Discover More
          </a>      
          <div>
            <button class="btn btn-secondary mt-3 fw-bold" data-bs-toggle="modal" data-bs-target="#haveQaModal">Become an Agent</button>
            <button class="btn btn-primary mt-2 fw-bold" data-bs-toggle="modal" data-bs-target="#haveQaModal">Be an Ambassador</button>          
          </div>    
        </div>
      </div>
    </div>
    <% }) %>
  </div>
  <!-- steps  -->
  <section id="steps">
    <div class="container step-content pt-5 pt-md-0">
      <div class="row row-cols-1 row-cols-md-3 g-4 bg-transparent">
        <div class="col d-none d-md-block">
          <div class="accordion accordion-consult" id="accordionConsult">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button accordion-button-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseConsult" aria-expanded="true" aria-controls="panelsStayOpen-collapseConsult">
                  <span>
                    <svg class="msg-icon" width="36" height="36" viewBox="0 0 214 214" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <mask id="mask0_3_27" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="214" height="214">
                        <rect width="214" height="214" fill="currentColor" />
                      </mask>
                      <g mask="url(#mask0_3_27)">
                        <path d="M62.6397 125.056C65.1661 125.056 67.2838 124.202 68.9929 122.493C70.7019 120.784 71.5564 118.666 71.5564 116.14C71.5564 113.613 70.7019 111.495 68.9929 109.786C67.2838 108.077 65.1661 107.223 62.6397 107.223C60.1134 107.223 57.9956 108.077 56.2866 109.786C54.5776 111.495 53.7231 113.613 53.7231 116.14C53.7231 118.666 54.5776 120.784 56.2866 122.493C57.9956 124.202 60.1134 125.056 62.6397 125.056ZM62.6397 98.3062C65.1661 98.3062 67.2838 97.4517 68.9929 95.7427C70.7019 94.0337 71.5564 91.916 71.5564 89.3896C71.5564 86.8632 70.7019 84.7455 68.9929 83.0364C67.2838 81.3274 65.1661 80.4729 62.6397 80.4729C60.1134 80.4729 57.9956 81.3274 56.2866 83.0364C54.5776 84.7455 53.7231 86.8632 53.7231 89.3896C53.7231 91.916 54.5776 94.0337 56.2866 95.7427C57.9956 97.4517 60.1134 98.3062 62.6397 98.3062ZM62.6397 71.5562C65.1661 71.5562 67.2838 70.7017 68.9929 68.9927C70.7019 67.2837 71.5564 65.166 71.5564 62.6396C71.5564 60.1132 70.7019 57.9955 68.9929 56.2864C67.2838 54.5774 65.1661 53.7229 62.6397 53.7229C60.1134 53.7229 57.9956 54.5774 56.2866 56.2864C54.5776 57.9955 53.7231 60.1132 53.7231 62.6396C53.7231 65.166 54.5776 67.2837 56.2866 68.9927C57.9956 70.7017 60.1134 71.5562 62.6397 71.5562ZM89.1668 122.827H133.75V109.452H89.1668V122.827ZM89.1668 96.0771H160.723V82.7021H89.1668V96.0771ZM89.1668 69.3271H160.723V55.9521H89.1668V69.3271ZM17.8335 196.167V31.2083C17.8335 27.6416 19.171 24.5208 21.846 21.8458C24.521 19.1708 27.6418 17.8333 31.2085 17.8333H182.792C186.358 17.8333 189.479 19.1708 192.154 21.8458C194.829 24.5208 196.167 27.6416 196.167 31.2083V147.125C196.167 150.692 194.829 153.812 192.154 156.487C189.479 159.162 186.358 160.5 182.792 160.5H53.5002L17.8335 196.167Z" fill="currentColor" />
                      </g>
                    </svg>
                  </span>
                  <h5 class="card-tit text-white ps-3"><% db.home_steps.forEach(step => { %>
                    <% if (step.id === 1) { %>
                    <%= step.title %>
                    <% } %>
                    <% }) %></h5>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseConsult" class="accordion-collapse collapse show">
                <div class="accordion-body">
                  <p class="custom-para text-white" style="font-size: 17px !important">
                    <% db.home_steps.forEach(step => { %>
                    <% if (step.id === 1) { %>
                    <%= step.text %>
                    <% } %>
                    <% }) %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col d-none d-md-block">
          <div class="accordion accordion-apply" id="accordionApply">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button accordion-button-light" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseApply" aria-expanded="true" aria-controls="panelsStayOpen-collapseApply">
                  <span>
                    <svg class="msg-icon" width="36" height="36" viewBox="0 0 48 48" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <mask id="mask0_3_110" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="48" height="48">
                        <rect width="48" height="48" fill="currentColor" />
                      </mask>
                      <g mask="url(#mask0_3_110)">
                        <path d="M22.25 44C21.2833 44 20.35 43.8 19.45 43.4C18.55 43 17.8 42.4167 17.2 41.65L6.34998 27.85L7.39998 26.7C7.86664 26.2 8.44164 25.8917 9.12498 25.775C9.80831 25.6583 10.45 25.7667 11.05 26.1L16 28.75V10.5C16 10.0667 16.1416 9.70833 16.425 9.425C16.7083 9.14167 17.0666 9 17.5 9C17.9333 9 18.2916 9.14167 18.575 9.425C18.8583 9.70833 19 10.0667 19 10.5V22H34C35.6666 22 37.0833 22.5833 38.25 23.75C39.4166 24.9167 40 26.3333 40 28V36.5C40 38.6 39.275 40.375 37.825 41.825C36.375 43.275 34.6 44 32.5 44H22.25ZM10.15 14.75C9.78331 14.1167 9.49998 13.4417 9.29998 12.725C9.09998 12.0083 8.99998 11.2667 8.99998 10.5C8.99998 8.13333 9.82498 6.125 11.475 4.475C13.125 2.825 15.1333 2 17.5 2C19.8666 2 21.875 2.825 23.525 4.475C25.175 6.125 26 8.13333 26 10.5C26 11.2667 25.9 12.0083 25.7 12.725C25.5 13.4417 25.2166 14.1167 24.85 14.75L22.25 13.25C22.4833 12.85 22.6666 12.4167 22.8 11.95C22.9333 11.4833 23 11 23 10.5C23 8.96667 22.4666 7.66667 21.4 6.6C20.3333 5.53333 19.0333 5 17.5 5C15.9666 5 14.6666 5.53333 13.6 6.6C12.5333 7.66667 12 8.96667 12 10.5C12 11 12.0666 11.4833 12.2 11.95C12.3333 12.4167 12.5166 12.85 12.75 13.25L10.15 14.75Z" fill="currentColor" />
                      </g>
                    </svg>
                  </span>
                  <h5 class="card-tit text-white ps-3">
                    <% db.home_steps.forEach(step => { %>
                    <% if (step.id === 2) { %>
                    <%= step.title %>
                    <% } %>
                    <% }) %>
                  </h5>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseApply" class="accordion-collapse collapse show">
                <div class="accordion-body">
                  <p class="custom-para text-white" style="font-size: 17px !important">
                    <% db.home_steps.forEach(step => { %>
                    <% if (step.id === 2) { %>
                    <%= step.text %>
                    <% } %>
                    <% }) %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col d-none d-md-block">
          <div class="accordion accordion-fly" id="accordionFly">
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFly" aria-expanded="true" aria-controls="panelsStayOpen-collapseFly">
                  <span>
                    <svg class="fly-icon" width="36" height="36" viewBox="0 0 214 214" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <mask id="mask0_3_41" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="214" height="214">
                        <rect width="214" height="214" fill="currentColor" />
                      </mask>
                      <g mask="url(#mask0_3_41)">
                        <path d="M34.7733 138.654L41.2379 132.19L63.5296 135.311L102.763 95.8544L29.4233 55.9523L38.1171 47.2586L127.73 70.219L165.18 33.4377C167.26 31.3572 169.861 30.3169 172.982 30.3169C176.103 30.3169 178.703 31.3572 180.784 33.4377C182.864 35.5183 183.905 38.119 183.905 41.2398C183.905 44.3606 182.864 46.9613 180.784 49.0419L143.78 86.269L166.74 176.104L158.046 184.575L118.144 111.236L78.9108 150.692L82.0317 172.984L75.5671 179.448L61.0775 153.144L34.7733 138.654Z" fill="currentColor" />
                      </g>
                    </svg>
                  </span>
                  <h5 class="card-tit ps-3"><% db.home_steps.forEach(step => { %>
                    <% if (step.id === 3) { %>
                    <%= step.title %>
                    <% } %>
                    <% }) %></h5>
                </button>
              </h2>
              <div id="panelsStayOpen-collapseFly" class="accordion-collapse collapse show">
                <div class="accordion-body">
                  <p class="custom-para text-dark" style="font-size: 17px !important">
                    <% db.home_steps.forEach(step => { %>
                    <% if (step.id === 3) { %>
                    <%= step.text %>
                    <% } %>
                    <% }) %>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="accordion accordion-flush accordion-consult d-md-none d-block" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed accordion-button-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <span>
                  <img src="assets/images/home/consultancy.svg" alt="consult" style="width: 36px" />
                </span>
                <h5 class="card-tit text-white ps-3"><% db.home_steps.forEach(step => { %>
                  <% if (step.id === 1) { %>
                  <%= step.title %>
                  <% } %>
                  <% }) %></h5>
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body text-white">
                <% db.home_steps.forEach(step => { %>
                <% if (step.id === 1) { %>
                <%= step.text %>
                <% } %>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion accordion-flush accordion-apply d-md-none d-block" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed accordion-button-light" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <span>
                  <img src="assets/images/home/apply.svg" alt="apply" style="width: 36px" />
                </span>
                <h5 class="card-tit text-white ps-3"><% db.home_steps.forEach(step => { %>
                  <% if (step.id === 2) { %>
                  <%= step.title %>
                  <% } %>
                  <% }) %></h5>
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body text-white">
                <% db.home_steps.forEach(step => { %>
                <% if (step.id === 2) { %>
                <%= step.text %>
                <% } %>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion accordion-flush accordion-fly d-md-none d-block" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <span>
                  <svg width="36" height="36" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_3_253" style="mask-type: alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="48" height="48">
                      <rect width="48" height="48" fill="#D9D9D9" />
                    </mask>
                    <g mask="url(#mask0_3_253)">
                      <path d="M7.79998 31.1001L9.24998 29.6501L14.25 30.3501L23.05 21.5001L6.59998 12.55L8.54998 10.6L28.65 15.75L37.05 7.50005C37.5166 7.03338 38.1 6.80005 38.8 6.80005C39.5 6.80005 40.0833 7.03338 40.55 7.50005C41.0166 7.96672 41.25 8.55005 41.25 9.25005C41.25 9.95005 41.0166 10.5334 40.55 11L32.25 19.35L37.4 39.5001L35.45 41.4001L26.5 24.9501L17.7 33.8001L18.4 38.8001L16.95 40.2501L13.7 34.3501L7.79998 31.1001Z" fill="#56c6d0" />
                    </g>
                  </svg>
                </span>
                <h5 class="card-tit ps-3"><% db.home_steps.forEach(step => { %>
                  <% if (step.id === 3) { %>
                  <%= step.title %>
                  <% } %>
                  <% }) %></h5>
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">
                <% db.home_steps.forEach(step => { %>
                <% if (step.id === 3) { %>
                <%= step.text %>
                <% } %>
                <% }) %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col pt-5">
        <div class="row row-cols-1 row-cols-md-2 g-4 custom">
          <div class="col">
            <h4 class="custom-heading text-uppercase"><%= db.home_whoweare.title %></h4>
            <h2 class="custom-title">
              Welcome to <br>
              <em class="fw-bold fst-italic"> SkyLane Education</em>
            </h2>
          </div>
          <div class="col">
            <p class="custom-para text-dark">
              <%= db.home_whoweare.text %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- choose country -->
  <section id="choose-country">
    <div class="container container-bg-layer  country-content p-4">
      <h4 class="custom-heading text-center">Study Abroad</h4>
      <h2 class="custom-title text-center pb-md-3">
        <em class="fw-bold fst-italic">Scholarships, No IELTS & Many More</em>
      </h2>
      <!-- country  -->
      <div class="card-group pt-5 testimonial">
        <% db.countries_details.forEach(country => { %>
        <div class="card card-visa align-items-center bg-transparent border-0">
          <div class="text-center">
            <div class="d-flex justify-content-center">
              <img src="<%= country.imgSrc %>" class="card-img-top res-img" alt="country image" />
            </div>
            <div class="card-body">
              <h5 class="text-center">
                <a href="/study-abroad/country?country=<%= country.link %>" class="text-decoration-none choose-title"><%= country.name %></a>                
              </h5>
              <p class="text-center custom-para">
                <%= country.description %>
              </p>
            </div>
            <div class="card-footer border-0 bg-transparent text-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right read-more-text" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
              </svg>
              <a href="/study-abroad/country?country=<%= country.link %>" class="text-decoration-none read-more-text">Read More</a>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </section>
  <!-- services  -->
  <section class="visa position-relative overflow-hidden">
    <img src="/assets/images/home/bg-triangle-left.svg" class="position-absolute top-0 start-0 h-50 d-none d-md-block" />
    <img src="/assets/images/home/bg-triangle-right.svg" class="position-absolute bottom-0 end-0 h-50  d-none d-md-block" />
    <div class="container position-relative p-4 p-md-0">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <h4 class="custom-heading text-white">Our Services</h4>
          <h2 class="custom-title text-white">
            What makes us different and
            <br />
            <em class="fw-bold fst-italic">Best study abroad agency</em>
          </h2>
        </div>
        <div class="col">
          <p class="custom-paragraph text-white">
            We ensure fast and handsome scholarships abroad from our
            universities and recruitment partners. We develop a career path
            for the students who look for affordable tuition fees, hassle free
            processing and quick communication.
          </p>
        </div>
      </div>
      <!-- services -->
      <div class="card-group pt-5 services d-none d-md-block">
        <% db.services_details.forEach(service => { %>
        <div class="card card-visa align-items-center bg-transparent rounded border-color">
          <div class="text-center">
            <h3 class="visa-text text-white mt-4"><%= service.title %></h3>
          </div>
          <div class="card-body text-center pt-3">
            <div class="d-flex justify-content-center">
              <img src="<%= service.imgSrc %>" alt="consult" style="width: 56px" />
            </div>
            <p class="card-text visa-paragraph mt-4 pb-2">
              <%= service.text %>
            </p>
          </div>
        </div>
        <% }) %>
      </div>
      <!-- services mobile -->
      <div class="services-content d-block d-md-none">
        <div class="card-group services-mobile">
          <% db.services_details.forEach(service => { %>
          <div class="card card-visa align-items-center bg-transparent rounded border-color">
            <div class="text-center">
              <h3 class="visa-text text-white mt-4"><%= service.title %></h3>
            </div>
            <div class="card-body text-center pt-3">
              <div class="d-flex justify-content-center">
                <img src="<%= service.imgSrc %>" alt="consult" style="width: 56px" />
              </div>
              <p class="card-text visa-paragraph mt-4 pb-2">
                <%= service.text %>
              </p>
            </div>
          </div>
          <% }) %>
        </div>
      </div>
    </div>
  </section>
  <!-- visa progressbar  -->
  <section class="p-4 p-md-0 py-md-5">
    <div class="container pt-5 pb-5 skil-part">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
          <h4 class="custom-heading">Choose Your visa</h4>
          <h2 class="custom-title">
            Visa Success
            <em class="fw-bold fst-italic">Ratio</em>
          </h2>
          <div class="progress_container pt-md-5 pb-md-5 pe-md-5 me-md-5">
            <div class="progress-content">
              <div class="progress_item">
                <h3 class="progress_title">United Kingdom</h3>
                <div class="progress_bar">
                  <div class="bar" data-value="99" data-text="99"></div>
                </div>
              </div>
              <div class="progress_item">
                <h3 class="progress_title">United States of America</h3>
                <div class="progress_bar">
                  <div class="bar" data-value="95" data-text="95"></div>
                </div>
              </div>
              <div class="progress_item">
                <h3 class="progress_title">Canada</h3>
                <div class="progress_bar">
                  <div class="bar" data-value="95" data-text="95"></div>
                </div>
              </div>
              <div class="progress_item">
                <h3 class="progress_title">Australia</h3>
                <div class="progress_bar">
                  <div class="bar" data-value="93" data-text="93"></div>
                </div>
              </div>
              <div class="progress_item">
                <h3 class="progress_title">Malta</h3>
                <div class="progress_bar">
                  <div class="bar" data-value="95" data-text="95"></div>
                </div>
              </div>
              <div class="progress_item">
                <h3 class="progress_title">Dubai</h3>
                <div class="progress_bar">
                  <div class="bar" data-value="95" data-text="95"></div>
                </div>
              </div>
              <div class="progress_item">
                <h3 class="progress_title">France</h3>
                <div class="progress_bar">
                  <div class="bar" data-value="95" data-text="95"></div>
                </div>
              </div>
              <div class="progress_item">
                <h3 class="progress_title">New Zealand</h3>
                <div class="progress_bar">
                  <div class="bar" data-value="92" data-text="92"></div>
                </div>
              </div>
              <div class="progress_item">
                <h3 class="progress_title">Ireland</h3>
                <div class="progress_bar">
                  <div class="bar" data-value="95" data-text="95"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col pt-md-0 pt-5">
          <h4 class="custom-heading">Why we are different?</h4>
          <h2 class="custom-title">
            What makes us different makes
            <em class="fw-bold fst-italic">us better.</em>
          </h2>
          <p class="custom-para text-dark pt-4">
            <%= db.home_whydifferent.text %>
          </p>
          <p class="custom-para text-dark">
            <%= db.home_whydifferent.subtext %>
          </p>
          <p class="custom-para text-dark mb-0">
            <%= db.home_whydifferent.subparagraph %>
          </p>
          <div class="wrapper pt-xxl-4 pt-xl-2">
            <div class="card border-0">
              <div class="circle">
                <div class="bar1"></div>
                <div class="box"><span></span></div>
              </div>
              <div class="text">Satisfied clients</div>
            </div>
            <div class="card js border-0">
              <div class="circle">
                <div class="bar1"></div>
                <div class="box"><span></span></div>
              </div>
              <div class="text">Visa Success</div>
            </div>
            <div class="card react border-0">
              <div class="circle">
                <div class="bar1"></div>
                <div class="box"><span></span></div>
              </div>
              <div class="text">Scholarships</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- testimonial  -->
  <section class="testimonials position-relative">
    <img src="/assets/images/home/bg-triangle-left.svg" class="position-absolute top-0 start-0 h-50 d-none d-md-block" />
    <img src="/assets/images/home/bg-triangle-right.svg" class="position-absolute bottom-0 end-0 h-50 d-none d-md-block" />
    <div class="container position-relative p-4 p-md-0">
      <div class="row row-cols-1 row-cols-md-2 g-4">
        <div id="testimonials" class="col pe-md-5">
          <h4 class="custom-heading text-uppercase text-white">
            TESTIMONIALS
          </h4>
          <h2 class="custom-title" style="color: #fff">
            About Our
            <em class="fw-bold fst-italic">Customer Say</em>
          </h2>
          <div class="card-group pt-5 responsive">
            <% db.home_testimonials.forEach(testimonial => { %>
            <div class="card card-visa align-items-center bg-transparent rounded border-0">
              <div class="d-flex align-items-center">
                <img width="50" height="50" class="rounded-5" src="<%= testimonial.imgSrc %>" alt="testimonial-01" />
                <div class="ps-4">
                  <h3 class="visa-text text-white mt-2"><%= testimonial.name %></h3>
                  <h5 class="visa-paragraph"><%= testimonial.country %></h5>
                </div>
              </div>
              <div class="pt-3">
                <h3 class="testimonial-text">
                  <%= testimonial.text %>
                </h3>
                <div class="d-flex pt-3">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill text-warning" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="rating bi bi-star-fill text-warning" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="rating bi bi-star-fill text-warning" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="rating bi bi-star-fill text-warning" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="rating bi bi-star-fill text-warning" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                  </svg>
                </div>
              </div>
            </div>
            <% }) %>
          </div>
        </div>
        <div class="col pt-5 pt-md-0">
          <h2 class="custom-title" style="color: #fff">
            Authorization And Certificate of
            <em class="fw-bold fst-italic">Recognitions</em>
          </h2>
          <p class="custom-para" style="color: #fff">
            Applying via Authorised, Trained, and Experienced Consultants is
            always recommended. SkyLane Education Consultants is the
            authorized representative of several educational institutions in
            the UK, USA, Canada, Australia, Malta, and Dubai.
          </p>
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <% db.certificaterecognitions_authorization.forEach(certificate => { %>
              <div class="carousel-item <%- certificate.id === 1 ? "active" : "" %>">
                <div class="d-flex justify-content-center">
                  <img src="<%= certificate.imgSrc %>" class="d-block w-75" alt="bc-certificate" />
                </div>
              </div>
              <% }) %>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- partners -->
  <section id="partners">
    <div class="container  py-5">
      <h4 class="custom-heading">OUR PARTNERS</h4>
      <h2 class="custom-title">
        Affiliated Groups &
        <em class="fw-bold fst-italic">Universities</em>
      </h2>

      <div class="align-items-center text-center pt-5 pb-5 univ row">
        <% db.home_partners.forEach(partner => { %>
        <div class="col-md-3 col-sm-3 col-1">
          <div class="d-flex justify-content-center">
            <img class="img-fluid w-50" src="<%= partner.imgSrc %>" alt="partners logo" />
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </section>
  <!-- events -->
  <section id="events">
    <div class="container country-content pt-md-5">
      <div class="row row-cols-1 row-cols-md-2 g-4 custom">
        <div class="col">
          <h4 class="custom-heading">EVENTS & Visits</h4>
          <h2 class="custom-title">
            Programmes Run & Attended by
            <em class="fw-bold fst-italic">SkyLane Education</em>
          </h2>
        </div>
        <div class="col">
          <p class="custom-paragraph text-dark">
            SkyLane Education organizes & attends different programs,
            seminars, events and expos to develop opportunities for the
            students willing to study abroad. Take a glance of the previous &
            upcoming events and visits.
          </p>
        </div>
      </div>
      <div class="card-group pt-5 py-md-5 testimonial">
        <% db.home_events.forEach(event => { %>
        <div class="card card-visa align-items-center bg-transparent border-0 text-center">
          <img src="<%= event.imgSrc %>" class="card-img-top res-img" alt="events" />
          <div class="card-body">
            <h5 class="text-center choose-title h-25 mb-5 mb-lg-4">
              <%- event.eventTitle.replaceAll('<br>','<br>') %>
            </h5>
            <p class="text-center custom-para">
              <%= event.eventDesc %>
            </p>
          </div>
          <div class="card-footer border-0 bg-transparent text-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right read-more-text" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
            </svg>
            <a href="#" class="text-decoration-none read-more-text">Read More</a>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </section>
  <!-- blog  -->
  <section id="blog">
    <div class="container p-4 p-md-0">
      <div class="row row-cols-1 row-cols-md-2 g-4 custom">
        <div class="col">
          <h4 class="custom-heading"><%= db.blog_content.title %></h4>
          <h2 class="custom-title">
            Check out our latest
            <br />
            <em class="fw-bold fst-italic">Articles & Blogs</em>
          </h2>
        </div>
        <div class="col">
          <p class="custom-paragraph text-dark">
            <%= db.blog_content.content %>
          </p>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 pt-5" style="margin-bottom: 80px">
        <% db.blog_details.forEach(blog => { %>
        <div class="col ps-4 pe-4 ps-md-3 pe-md-3">
          <div class="card h-100 border-0">
            <div class="d-flex justify-content-center">
              <img src="<%= blog.imgSrc %>" class="card-img-top" alt="blog 01" />
            </div>
            <div class="blog-details-content">
              <div class="card-body">
                <ul class="d-flex a justify-content-aroud">
                  <li>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                    </svg>
                  </li>
                  <li class="ps-2">By <%= blog.blog_author %></li>
                </ul>
                <h5>
                  <a href="/blog/blog_slug?blog_slug=<%= blog.blog_slug %>" class="text-decoration-none blog-title">
                    <%= blog.blog_title %>
                  </a>
                </h5>
              </div>
              <div class="card-footer border-0 bg-white mb-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right read-more-text" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z" />
                </svg>                
                <a href="/blog/blog_slug?blog_slug=<%= blog.blog_slug %>" class="text-decoration-none read-more-text">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
    </div>
  </section>
  <!-- footer -->
  <%- include('/_components/footer') %>
  <%- include("/_components/scripts", {dontAddScript: true}) %>
  <script type="text/javascript" src="/assets/js/circle-progress.min.js" defer></script>
  <script type="text/javascript" src="/assets/js/slick.min.js" defer></script>
  <script>
    if (screen && screen.width >= 768) {
      document.write('<script type="text/javascript" src="/assets/js/rbtools.min.js" defer><\/script>');
      document.write('<script type="text/javascript" src="/assets/js/rs6.min.js" defer><\/script>');
      document.write('<script id="rs-initialisation-scripts" src="/assets/js/revInit.js" defer><\/script>');
    }
  </script>
  <!-- rs slider -->
  <script id="rs-initialisation-scripts" src="/assets/js/revInit.js" defer></script>
  <script type="text/javascript" src="/assets/js/script.js" defer></script>
</body>

</html>